In [1]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import warnings
warnings.filterwarnings("ignore")

In [30]:
total_cities_in_states = {
    "State": [
        "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh",
        "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jharkhand",
        "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur",
        "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab",
        "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura",
        "Uttar Pradesh", "Uttarakhand", "West Bengal", "Delhi", "Jammu and Kashmir",
        "Ladakh", "Puducherry", "Andaman and Nicobar Islands", "Chandigarh", "Dadra and Nagar Haveli and Daman and Diu",
        "Lakshadweep"
    ],
    "Number of Cities": [
        31, 17, 26, 28, 27, 14, 33, 22, 20, 24,
        30, 30, 52, 50, 16, 11, 8, 11, 30, 22,
        33, 4, 38, 33, 8, 60, 13, 23, 11, 10,
        4, 3, 1, 1, 3, 1
    ]
}

# Convert the corrected dictionary to a DataFrame
total_cities_df = pd.DataFrame(total_cities_in_states)

In [31]:
total_cities_df

                                       State  Number of Cities
0                             Andhra Pradesh                31
1                          Arunachal Pradesh                17
2                                      Assam                26
3                                      Bihar                28
4                               Chhattisgarh                27
5                                        Goa                14
6                                    Gujarat                33
7                                    Haryana                22
8                           Himachal Pradesh                20
9                                  Jharkhand                24
10                                 Karnataka                30
11                                    Kerala                30
12                            Madhya Pradesh                52
13                               Maharashtra                50
14                                   Manipur                16
15                                 Meghalaya                11
16                                   Mizoram                 8
17                                  Nagaland                11
18                                    Odisha                30
19                                    Punjab                22
20                                 Rajasthan                33
21                                    Sikkim                 4
22                                Tamil Nadu                38
23                                 Telangana                33
24                                   Tripura                 8
25                             Uttar Pradesh                60
26                               Uttarakhand                13
27                               West Bengal                23
28                                     Delhi                11
29                         Jammu and Kashmir                10
30                                    Ladakh                 4
31                                Puducherry                 3
32               Andaman and Nicobar Islands                 1
33                                Chandigarh                 1
34  Dadra and Nagar Haveli and Daman and Diu                 3
35                               Lakshadweep                 1

### Hyderabad

In [95]:
import certifi
print(certifi.where())

C:\Users\Kaustubh Yewale\anaconda\Lib\site-packages\certifi\cacert.pem

In [77]:
# Manually reconstructed dictionary based on the image content
data = {
    "Area": [
        "Banjara Hills", "Jubilee Hills", "Gachibowli", "Madhapur", "Secunderabad", "Kukatpally",
        "Begumpet", "Himayatnagar", "Kothaguda", "Nampally", "Miyapur", "Tarnaka", "LB Nagar",
        "Moula Ali", "Uppal", "Falaknuma", "Charminar", "Tolichowki", "Kothapet", "BHEL Nagar"
    ],
    "Latitude (°N)": [
        17.4400, 17.4422, 17.4277, 17.4470, 17.4442, 17.5034, 17.4150, 17.4193, 17.4392, 17.4163,
        17.4890, 17.4573, 17.4713, 17.3936, 17.5264, 17.3835, 17.3616, 17.4273, 17.4546, 17.4471
    ],
    "Longitude (°E)": [
        78.4284, 78.3675, 78.4486, 78.4680, 78.4917, 78.4799, 78.4347, 78.4603, 78.3913, 78.4727,
        78.4433, 78.4695, 78.4270, 78.3967, 78.4681, 78.4311, 78.4747, 78.4735, 78.4751, 78.3565
    ]
}

# Display the dictionary

In [87]:
pd.DataFrame(data)

             Area  Latitude (°N)  Longitude (°E)
0   Banjara Hills        17.4400         78.4284
1   Jubilee Hills        17.4422         78.3675
2      Gachibowli        17.4277         78.4486
3        Madhapur        17.4470         78.4680
4    Secunderabad        17.4442         78.4917
5      Kukatpally        17.5034         78.4799
6        Begumpet        17.4150         78.4347
7    Himayatnagar        17.4193         78.4603
8       Kothaguda        17.4392         78.3913
9        Nampally        17.4163         78.4727
10        Miyapur        17.4890         78.4433
11        Tarnaka        17.4573         78.4695
12       LB Nagar        17.4713         78.4270
13      Moula Ali        17.3936         78.3967
14          Uppal        17.5264         78.4681
15      Falaknuma        17.3835         78.4311
16      Charminar        17.3616         78.4747
17     Tolichowki        17.4273         78.4735
18       Kothapet        17.4546         78.4751
19     BHEL Nagar        17.4471         78.3565

In [127]:
telangana1 = {
    "areas": [
        "Hyderabad",         # Urban area
        "Secunderabad",      # Urban area
        "Warangal",          # Large town
        "Khammam",           # Moderately urban
        "Karimnagar",        # Industrial area
        "Adilabad",          # Forest proximity, rural
        "Bhadrachalam",      # Rural, near Godavari river
        "Nizamabad",         # Moderately urban
        "Mahabubnagar",      # Rural, agricultural
        "Kothagudem",        # Industrial, mining
        "Vikarabad",         # Cooler temperatures, hill station
        "Nalgonda",          # Hotter area, semi-arid
        "Medak",             # Rural, historical significance
        "Ramagundam",        # Power plant, industrial
        "Siddipet"           # Mixed rural-urban
    ],
    "lat": [
        17.3850,  # Hyderabad
        17.4399,  # Secunderabad
        17.9784,  # Warangal
        17.2473,  # Khammam
        18.4386,  # Karimnagar
        19.6736,  # Adilabad
        17.6685,  # Bhadrachalam
        18.6725,  # Nizamabad
        16.7386,  # Mahabubnagar
        17.5484,  # Kothagudem
        17.3382,  # Vikarabad
        17.0575,  # Nalgonda
        18.0452,  # Medak
        18.7596,  # Ramagundam
        18.1018   # Siddipet
    ],
    "long": [
        78.4867,  # Hyderabad
        78.4983,  # Secunderabad
        79.5941,  # Warangal
        80.1437,  # Khammam
        79.1288,  # Karimnagar
        78.5352,  # Adilabad
        80.8884,  # Bhadrachalam
        78.0941,  # Nizamabad
        77.9809,  # Mahabubnagar
        80.6185,  # Kothagudem
        77.9044,  # Vikarabad
        79.2684,  # Nalgonda
        78.2601,  # Medak
        79.4752,  # Ramagundam
        78.8486   # Siddipet
    ]
}

In [128]:
df=pd.DataFrame(telangana1)

In [115]:
demo=pd.DataFrame(telangana)
demo

           areas      lat     long
0      Hyderabad  17.3850  78.4867
1   Secunderabad  17.4399  78.4983
2       Warangal  17.9784  79.5941
3        Khammam  17.2473  80.1437
4     Karimnagar  18.4386  79.1288
5       Adilabad  19.6736  78.5352
6   Bhadrachalam  17.6685  80.8884
7      Nizamabad  18.6725  78.0941
8   Mahabubnagar  16.7386  77.9809
9     Kothagudem  17.5484  80.6185
10     Vikarabad  17.3382  77.9044
11      Nalgonda  17.0575  79.2684
12         Medak  18.0452  78.2601
13    Ramagundam  18.7596  79.4752
14      Siddipet  18.1018  78.8486

In [217]:
areas_telanganas = {
    "areas": [
        "Hyderabad", "Secunderabad", "Warangal", "Nizamabad", "Khammam", 
        "Karimnagar", "Adilabad", "Siddipet", "Mahabubnagar", "Medak", 
        "Suryapet", "Nalgonda", "Ramagundam", "Mancherial", "Jagityal", 
        "Vikarabad", "Zahirabad", "Kothagudem", "Bhadrachalam", "Mahabubabad"
    ],
    "lat": [
        17.3850, 17.4399, 17.9784, 18.6725, 17.2473, 
        18.4386, 19.6736, 18.1018, 16.7386, 18.0452, 
        17.1310, 17.0575, 18.7596, 18.8785, 18.7939, 
        17.3382, 17.6856, 17.5484, 17.6685, 17.5972
    ],
    "long": [
        78.4867, 78.4983, 79.5941, 78.0941, 80.1437, 
        79.1288, 78.5352, 78.8486, 77.9809, 78.2601, 
        79.6236, 79.2684, 79.4752, 79.4436, 78.9164, 
        77.9044, 77.6094, 80.6185, 80.8884, 80.0021
    ]
}

In [218]:
telangana=pd.DataFrame(areas_telanganas)

In [219]:
telangana

           areas      lat     long
0      Hyderabad  17.3850  78.4867
1   Secunderabad  17.4399  78.4983
2       Warangal  17.9784  79.5941
3      Nizamabad  18.6725  78.0941
4        Khammam  17.2473  80.1437
5     Karimnagar  18.4386  79.1288
6       Adilabad  19.6736  78.5352
7       Siddipet  18.1018  78.8486
8   Mahabubnagar  16.7386  77.9809
9          Medak  18.0452  78.2601
10      Suryapet  17.1310  79.6236
11      Nalgonda  17.0575  79.2684
12    Ramagundam  18.7596  79.4752
13    Mancherial  18.8785  79.4436
14      Jagityal  18.7939  78.9164
15     Vikarabad  17.3382  77.9044
16     Zahirabad  17.6856  77.6094
17    Kothagudem  17.5484  80.6185
18  Bhadrachalam  17.6685  80.8884
19   Mahabubabad  17.5972  80.0021

## Extracting the `temperature` and `wind speed`

In [103]:
telangana

           areas      lat     long
0      Hyderabad  17.3850  78.4867
1   Secunderabad  17.4399  78.4983
2       Warangal  17.9784  79.5941
3      Nizamabad  18.6725  78.0941
4        Khammam  17.2473  80.1437
5     Karimnagar  18.4386  79.1288
6       Adilabad  19.6736  78.5352
7       Siddipet  18.1018  78.8486
8   Mahabubnagar  16.7386  77.9809
9          Medak  18.0452  78.2601
10      Suryapet  17.1310  79.6236
11      Nalgonda  17.0575  79.2684
12    Ramagundam  18.7596  79.4752
13    Mancherial  18.8785  79.4436
14      Jagityal  18.7939  78.9164
15     Vikarabad  17.3382  77.9044
16     Zahirabad  17.6856  77.6094
17    Kothagudem  17.5484  80.6185
18  Bhadrachalam  17.6685  80.8884
19   Mahabubabad  17.5972  80.0021

## Extracting the pollutants

In [220]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(telangana['lat'],telangana['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])

In [221]:
telangana['AQI']=aqi
telangana['pm2.5']=pm2
telangana['pm10']=pm10
telangana['co']=co
telangana['so2']=so2
telangana['no2']=no2
telangana['o3']=o3

In [222]:
telangana

           areas      lat     long  AQI pm2.5 pm10   co so2 no2  o3
0      Hyderabad  17.3850  78.4867  116    52  122  820   6  17   9
1   Secunderabad  17.4399  78.4983  117    51  126  753   6  15  11
2       Warangal  17.9784  79.5941  129    57  144  809   6  12   9
3      Nizamabad  18.6725  78.0941   77    33   77  530   6  12  12
4        Khammam  17.2473  80.1437  148    54  173  420   7   8   8
5     Karimnagar  18.4386  79.1288  106    48  108  512   5   7   9
6       Adilabad  19.6736  78.5352   71    32   71  658   5   8   9
7       Siddipet  18.1018  78.8486   85    37   85  665   5   8  11
8   Mahabubnagar  16.7386  77.9809   76    43   76  599   3   8   9
9          Medak  18.0452  78.2601   86    33   86  665   6   9  10
10      Suryapet  17.1310  79.6236  104    50  107  501   5   7   6
11      Nalgonda  17.0575  79.2684  128    46  142  467   4   7   8
12    Ramagundam  18.7596  79.4752  116    50  124  559   5   9   7
13    Mancherial  18.8785  79.4436  113    46  120  546   5   8   7
14      Jagityal  18.7939  78.9164   85    33   85  570   5   8   9
15     Vikarabad  17.3382  77.9044   96    40   96  544   4  10  10
16     Zahirabad  17.6856  77.6094   97    44   97  595   6  14  10
17    Kothagudem  17.5484  80.6185  146    52  169  760   3   9   7
18  Bhadrachalam  17.6685  80.8884  145    49  167  781   4  12   8
19   Mahabubabad  17.5972  80.0021  144    56  165  510   4   8   7

## Extracting the temp wind speed and humidity

In [294]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(telangana['lat'],telangana['long']):
    url = "https://api.weatherstack.com/current?access_key=5d81b6f7989baf27c643117e6a60abac"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    wind_speed.append(re.findall('wind_speed\':\s(\d+\.?\d*)',str(response.json()))[0])
    humdity.append(re.findall('humidity\':\s(\d+\.?\d*)',str(response.json()))[0])
    pressure.append(re.findall('pressure\':\s(\d+\.?\d*)',str(response.json()))[0])
    temperature.append(re.findall('temperature\':\s(\d+\.?\d*)',str(response.json()))[0])

In [299]:
telangana['temperature']=temperature
telangana['wind_speed']=wind_speed
telangana['humdity']=humdity
telangana['pressure']=pressure

In [300]:
telangana

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Hyderabad,17.3850,78.4867,116,52,122,820,6,17,9,21,8,53,1017
1,Secunderabad,17.4399,78.4983,117,51,126,753,6,15,11,21,8,53,1017
2,Warangal,17.9784,79.5941,129,57,144,809,6,12,9,19,9,44,1014
3,Nizamabad,18.6725,78.0941,77,33,77,530,6,12,12,18,7,45,1015
4,Khammam,17.2473,80.1437,148,54,173,420,7,8,8,21,6,51,1013
5,Karimnagar,18.4386,79.1288,106,48,108,512,5,7,9,18,5,43,1014
6,Adilabad,19.6736,78.5352,71,32,71,658,5,8,9,17,4,40,1014
7,Siddipet,18.1018,78.8486,85,37,85,665,5,8,11,19,4,44,1015
8,Mahabubnagar,16.7386,77.9809,76,43,76,599,3,8,9,20,12,58,1013
9,Medak,18.0452,78.2601,86,33,86,665,6,9,10,18,6,45,1015
10,Suryapet,17.1310,79.6236,104,50,107,501,5,7,6,22,8,56,1013
11,Nalgonda,17.0575,79.2684,128,46,142,467,4,7,8,23,7,57,1014
12,Ramagundam,18.7596,79.4752,116,50,124,559,5,9,7,19,8,43,1014
13,Mancherial,18.8785,79.4436,113,46,120,546,5,8,7,19,8,43,1014
14,Jagityal,18.7939,78.9164,85,33,85,570,5,8,9,18,5,45,1014
15,Vikarabad,17.3382,77.9044,96,40,96,544,4,10,10,22,9,57,1017
16,Zahirabad,17.6856,77.6094,97,44,97,595,6,14,10,18,10,40,1014
17,Kothagudem,17.5484,80.6185,146,52,169,760,3,9,7,19,4,57,1013
18,Bhadrachalam,17.6685,80.8884,145,49,167,781,4,12,8,19,4,59,1013
19,Mahabubabad,17.5972,80.0021,144,56,165,510,4,8,7,21,4,57,1013

In [301]:
#telangana.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\telangana.csv',index=False)

# Maharashtra

In [391]:
data_maharashtra_cities_extended = {
    "areas": [
        "Mumbai", "Pune", "Nagpur", "Nashik", "Thane", 
        "Aurangabad", "Solapur", "Kolhapur", "Amravati", "Nanded", 
        "Latur", "Jalgaon", "Ahmednagar", "Chandrapur", "Dhule", 
        "Satara", "Beed", "Ratnagiri", "Osmanabad", "Wardha", 
        "Yavatmal", "Gondia", "Parbhani", "Sangli", "Akola", 
        "Buldhana", "Malegaon", "Hingoli", "Washim", "Baramati", 
        "Pandharpur", "Alibag", "Karad", "Dombivli", "Kalyan", 
        "Ulhasnagar", "Junnar", "Parli", "Bhiwandi", "Akluj", 
        "Vasai", "Palghar", "Shrirampur", "Ambajogai", "Wardha", 
        "Satana", "Manmad", "Gadchiroli", "Sindhudurg", "Chalisgaon"
    ],
    "lat": [
        19.0760, 18.5204, 21.1458, 19.9975, 19.2183, 
        19.8762, 17.6599, 16.7041, 20.9333, 19.1500, 
        18.4088, 21.0077, 19.0952, 19.9615, 20.9042, 
        17.6805, 18.9888, 16.9902, 18.1819, 20.7393, 
        20.3888, 21.4603, 19.2608, 16.8524, 20.7096, 
        20.5295, 20.5534, 19.7161, 20.1113, 18.1518, 
        17.6715, 18.6411, 16.9891, 19.2183, 19.2354, 
        18.4500, 18.8560, 19.2813, 18.0900, 19.3667, 
        19.6968, 19.6189, 18.7755, 20.7500, 20.7393, 
        20.5933, 20.2526, 16.4968, 19.3003, 20.4572
    ],
    "long": [
        72.8777, 73.8567, 79.0882, 73.7898, 72.9781, 
        75.3433, 75.9064, 74.2433, 77.7588, 77.3210, 
        76.5740, 75.5626, 74.7496, 79.2952, 74.7749, 
        74.0020, 75.7680, 73.3302, 76.0429, 78.5968, 
        78.1203, 80.1922, 76.7708, 74.5815, 77.0022, 
        76.1842, 74.5254, 77.1443, 77.1394, 74.5770, 
        73.1801, 74.2179, 73.0033, 73.2945, 73.1581, 
        74.0340, 76.5290, 73.0466, 74.5823, 73.4010, 
        73.6153, 74.0144, 76.3781, 76.5646, 78.5968, 
        73.9978, 73.7799, 73.6580, 73.6420, 74.9962
    ]
}

# Convert the dictionary to a DataFrame
maharashtra = pd.DataFrame(data_maharashtra_cities_extended)

In [392]:
maharashtra

         areas      lat     long
0       Mumbai  19.0760  72.8777
1         Pune  18.5204  73.8567
2       Nagpur  21.1458  79.0882
3       Nashik  19.9975  73.7898
4        Thane  19.2183  72.9781
5   Aurangabad  19.8762  75.3433
6      Solapur  17.6599  75.9064
7     Kolhapur  16.7041  74.2433
8     Amravati  20.9333  77.7588
9       Nanded  19.1500  77.3210
10       Latur  18.4088  76.5740
11     Jalgaon  21.0077  75.5626
12  Ahmednagar  19.0952  74.7496
13  Chandrapur  19.9615  79.2952
14       Dhule  20.9042  74.7749
15      Satara  17.6805  74.0020
16        Beed  18.9888  75.7680
17   Ratnagiri  16.9902  73.3302
18   Osmanabad  18.1819  76.0429
19      Wardha  20.7393  78.5968
20    Yavatmal  20.3888  78.1203
21      Gondia  21.4603  80.1922
22    Parbhani  19.2608  76.7708
23      Sangli  16.8524  74.5815
24       Akola  20.7096  77.0022
25    Buldhana  20.5295  76.1842
26    Malegaon  20.5534  74.5254
27     Hingoli  19.7161  77.1443
28      Washim  20.1113  77.1394
29    Baramati  18.1518  74.5770
30  Pandharpur  17.6715  73.1801
31      Alibag  18.6411  74.2179
32       Karad  16.9891  73.0033
33    Dombivli  19.2183  73.2945
34      Kalyan  19.2354  73.1581
35  Ulhasnagar  18.4500  74.0340
36      Junnar  18.8560  76.5290
37       Parli  19.2813  73.0466
38    Bhiwandi  18.0900  74.5823
39       Akluj  19.3667  73.4010
40       Vasai  19.6968  73.6153
41     Palghar  19.6189  74.0144
42  Shrirampur  18.7755  76.3781
43   Ambajogai  20.7500  76.5646
44      Wardha  20.7393  78.5968
45      Satana  20.5933  73.9978
46      Manmad  20.2526  73.7799
47  Gadchiroli  16.4968  73.6580
48  Sindhudurg  19.3003  73.6420
49  Chalisgaon  20.4572  74.9962

In [393]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(maharashtra['lat'],maharashtra['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])

In [394]:
maharashtra['AQI']=aqi
maharashtra['pm2.5']=pm2
maharashtra['pm10']=pm10
maharashtra['co']=co
maharashtra['so2']=so2
maharashtra['no2']=no2
maharashtra['o3']=o3

In [395]:
maharashtra

         areas      lat     long  AQI pm2.5 pm10    co so2 no2  o3
0       Mumbai  19.0760  72.8777  134    62  146   646   5  17  13
1         Pune  18.5204  73.8567  111    47  117   928   9  15  17
2       Nagpur  21.1458  79.0882  249   108  202   937   4  20  11
3       Nashik  19.9975  73.7898  135    58  153   903   4  11  11
4        Thane  19.2183  72.9781  128    59  142   618   7  14  10
5   Aurangabad  19.8762  75.3433  137    62  139   809   4  11  12
6      Solapur  17.6599  75.9064   72    28   72   632   4  16  18
7     Kolhapur  16.7041  74.2433   99    42   99   608   4  16  12
8     Amravati  20.9333  77.7588  124    67  117   969   5  15  16
9       Nanded  19.1500  77.3210   82    36   82   544   6  11  14
10       Latur  18.4088  76.5740   55    29   55   617   5   9  16
11     Jalgaon  21.0077  75.5626  190    87  153   821   6  15  16
12  Ahmednagar  19.0952  74.7496   87    38   87  1070   9  17  19
13  Chandrapur  19.9615  79.2952  108    49  112   560   5   9   9
14       Dhule  20.9042  74.7749  120    59  130   721   5  11  15
15      Satara  17.6805  74.0020   53    29   53   382   2   7  17
16        Beed  18.9888  75.7680   72    42   72   622   6   9  17
17   Ratnagiri  16.9902  73.3302  111    47  116   583   5  14   8
18   Osmanabad  18.1819  76.0429   72    42   72   622   6   9  17
19      Wardha  20.7393  78.5968  113    60  120   645   9  11  13
20    Yavatmal  20.3888  78.1203  113    60  120   645   9  11  13
21      Gondia  21.4603  80.1922  195    88  178   879   5  13   9
22    Parbhani  19.2608  76.7708   74    32   74   548   6   9  19
23      Sangli  16.8524  74.5815   76    42   76   600   4  17  10
24       Akola  20.7096  77.0022  131    50  147  1142   6  11  14
25    Buldhana  20.5295  76.1842  158    77  131   887   7  15  11
26    Malegaon  20.5534  74.5254  117    57  126   758   7  14  15
27     Hingoli  19.7161  77.1443   74    32   74   548   6   9  19
28      Washim  20.1113  77.1394  131    50  147  1142   6  11  14
29    Baramati  18.1518  74.5770  111    47  117   928   9  15  17
30  Pandharpur  17.6715  73.1801  111    47  116   583   5  14   8
31      Alibag  18.6411  74.2179  111    47  117   928   9  15  17
32       Karad  16.9891  73.0033  111    47  116   583   5  14   8
33    Dombivli  19.2183  73.2945  154    72  169   731   5  10  10
34      Kalyan  19.2354  73.1581  154    72  169   731   5  10  10
35  Ulhasnagar  18.4500  74.0340  111    47  117   928   9  15  17
36      Junnar  18.8560  76.5290   55    29   55   617   5   9  16
37       Parli  19.2813  73.0466  145    73  158   967   5  11   7
38    Bhiwandi  18.0900  74.5823  111    47  117   928   9  15  17
39       Akluj  19.3667  73.4010  154    72  169   731   5  10  10
40       Vasai  19.6968  73.6153  135    58  153   903   4  11  11
41     Palghar  19.6189  74.0144  135    58  153   903   4  11  11
42  Shrirampur  18.7755  76.3781   55    29   55   617   5   9  16
43   Ambajogai  20.7500  76.5646  131    50  147  1142   6  11  14
44      Wardha  20.7393  78.5968  113    60  120   645   9  11  13
45      Satana  20.5933  73.9978  117    57  126   758   7  14  15
46      Manmad  20.2526  73.7799  135    58  153   903   4  11  11
47  Gadchiroli  16.4968  73.6580   99    42   99   608   4  16  12
48  Sindhudurg  19.3003  73.6420   71    34   71   756   5  12  17
49  Chalisgaon  20.4572  74.9962  117    57  126   758   7  14  15

In [396]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(maharashtra['lat'],maharashtra['long']):
    url = "https://api.weatherstack.com/current?access_key=bc19a0045192a23fa5049bbeebc0a709"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    wind_speed.append(re.findall('wind_speed\':\s(\d+\.?\d*)',str(response.json()))[0])
    humdity.append(re.findall('humidity\':\s(\d+\.?\d*)',str(response.json()))[0])
    pressure.append(re.findall('pressure\':\s(\d+\.?\d*)',str(response.json()))[0])
    temperature.append(re.findall('temperature\':\s(\d+\.?\d*)',str(response.json()))[0])

In [397]:
maharashtra['temperature']=temperature
maharashtra['wind_speed']=wind_speed
maharashtra['humdity']=humdity
maharashtra['pressure']=pressure

In [398]:
maharashtra

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Mumbai,19.0760,72.8777,134,62,146,646,5,17,13,26,13,48,1012
1,Pune,18.5204,73.8567,111,47,117,928,9,15,17,18,6,49,1013
2,Nagpur,21.1458,79.0882,249,108,202,937,4,20,11,18,11,73,1016
3,Nashik,19.9975,73.7898,135,58,153,903,4,11,11,17,11,56,1014
4,Thane,19.2183,72.9781,128,59,142,618,7,14,10,23,8,56,1011
5,Aurangabad,19.8762,75.3433,137,62,139,809,4,11,12,17,11,83,1016
6,Solapur,17.6599,75.9064,72,28,72,632,4,16,18,20,14,32,1013
7,Kolhapur,16.7041,74.2433,99,42,99,608,4,16,12,19,6,55,1012
8,Amravati,20.9333,77.7588,124,67,117,969,5,15,16,16,12,47,1014
9,Nanded,19.1500,77.3210,82,36,82,544,6,11,14,17,8,39,1014
10,Latur,18.4088,76.5740,55,29,55,617,5,9,16,17,12,37,1014
11,Jalgaon,21.0077,75.5626,190,87,153,821,6,15,16,18,10,40,1014
12,Ahmednagar,19.0952,74.7496,87,38,87,1070,9,17,19,18,10,41,1014
13,Chandrapur,19.9615,79.2952,108,49,112,560,5,9,9,15,4,48,1014
14,Dhule,20.9042,74.7749,120,59,130,721,5,11,15,19,9,44,1014
15,Satara,17.6805,74.0020,53,29,53,382,2,7,17,18,7,51,1013
16,Beed,18.9888,75.7680,72,42,72,622,6,9,17,16,9,40,1014
17,Ratnagiri,16.9902,73.3302,111,47,116,583,5,14,8,23,10,63,1010
18,Osmanabad,18.1819,76.0429,72,42,72,622,6,9,17,19,17,32,1013
19,Wardha,20.7393,78.5968,113,60,120,645,9,11,13,17,10,38,1014
20,Yavatmal,20.3888,78.1203,113,60,120,645,9,11,13,16,7,39,1014
21,Gondia,21.4603,80.1922,195,88,178,879,5,13,9,14,9,44,1015
22,Parbhani,19.2608,76.7708,74,32,74,548,6,9,19,17,9,39,1014
23,Sangli,16.8524,74.5815,76,42,76,600,4,17,10,21,12,50,1012
24,Akola,20.7096,77.0022,131,50,147,1142,6,11,14,18,9,41,1014
25,Buldhana,20.5295,76.1842,158,77,131,887,7,15,11,16,6,45,1014
26,Malegaon,20.5534,74.5254,117,57,126,758,7,14,15,19,10,45,1014
27,Hingoli,19.7161,77.1443,74,32,74,548,6,9,19,16,9,39,1014
28,Washim,20.1113,77.1394,131,50,147,1142,6,11,14,17,8,39,1014
29,Baramati,18.1518,74.5770,111,47,117,928,9,15,17,19,10,40,1013
30,Pandharpur,17.6715,73.1801,111,47,116,583,5,14,8,22,8,70,1010
31,Alibag,18.6411,74.2179,111,47,117,928,9,15,17,19,6,49,1013
32,Karad,16.9891,73.0033,111,47,116,583,5,14,8,23,10,63,1010
33,Dombivli,19.2183,73.2945,154,72,169,731,5,10,10,20,4,63,1011
34,Kalyan,19.2354,73.1581,154,72,169,731,5,10,10,21,5,61,1011
35,Ulhasnagar,18.4500,74.0340,111,47,117,928,9,15,17,19,6,49,1013
36,Junnar,18.8560,76.5290,55,29,55,617,5,9,16,16,8,39,1014
37,Parli,19.2813,73.0466,145,73,158,967,5,11,7,21,5,59,1011
38,Bhiwandi,18.0900,74.5823,111,47,117,928,9,15,17,19,10,40,1013
39,Akluj,19.3667,73.4010,154,72,169,731,5,10,10,20,8,50,1013
40,Vasai,19.6968,73.6153,135,58,153,903,4,11,11,20,8,50,1013
41,Palghar,19.6189,74.0144,135,58,153,903,4,11,11,17,4,53,1014
42,Shrirampur,18.7755,76.3781,55,29,55,617,5,9,16,17,9,37,1014
43,Ambajogai,20.7500,76.5646,131,50,147,1142,6,11,14,17,5,45,1014
44,Wardha,20.7393,78.5968,113,60,120,645,9,11,13,17,10,38,1014
45,Satana,20.5933,73.9978,117,57,126,758,7,14,15,18,10,49,1013
46,Manmad,20.2526,73.7799,135,58,153,903,4,11,11,17,11,56,1014
47,Gadchiroli,16.4968,73.6580,99,42,99,608,4,16,12,25,16,65,1010
48,Sindhudurg,19.3003,73.6420,71,34,71,756,5,12,17,20,8,50,1013
49,Chalisgaon,20.4572,74.9962,117,57,126,758,7,14,15,19,10,41,1014

In [399]:
maharashtra.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\maharashtra.csv',index=False)

## Andhra Pradesh

In [314]:
andhra_pradesh = {
    "areas": [
        "Visakhapatnam", "Vijayawada", "Guntur", "Nellore", "Kurnool", "Tirupati", 
        "Rajahmundry", "Kadapa", "Anantapur", "Chittoor", "Eluru", "Machilipatnam", 
        "Kakinada", "Ongole", "Proddatur", "Hindupur", "Adoni", "Bhimavaram", 
        "Tenali", "Srikakulam", "Nandyal", "Vizianagaram", "Tadepalligudem", 
        "Gudivada", "Markapur", "Puttur", "Narasaraopet", "Kavali", "Mandapeta", 
        "Chirala", "Samalkota", "Tuni", "Madanapalle", "Peddapuram", "Dharmavaram", 
        "Guntakal", "Palakollu", "Sattenapalle", "Rayachoti", "Gudur"
    ],
    "lat": [
        17.6868, 16.5062, 16.3067, 14.4426, 15.8281, 13.6288, 
        17.0005, 14.4673, 14.6819, 13.2172, 16.7107, 16.1705, 
        16.9891, 15.5036, 14.7502, 13.8284, 15.6308, 16.5449, 
        16.2430, 18.2969, 15.4770, 18.1165, 16.8132, 16.4419, 
        15.7350, 13.4524, 16.2380, 14.9156, 16.8644, 17.0477, 
        17.3598, 13.5528, 17.0784, 14.4144, 15.1698, 16.5338, 
        14.0573, 14.1514,17.0, 17.5
    ],
    "long": [
        83.2185, 80.6480, 80.4365, 79.9865, 78.0369, 79.4192, 
        81.7892, 78.8241, 77.6006, 79.1003, 81.0951, 81.1302, 
        82.2475, 80.0446, 78.5542, 77.4949, 77.2748, 81.5230, 
        80.5808, 83.8970, 78.4836, 83.4162, 81.4967, 81.0045, 
        79.0554, 79.5537, 80.0535, 80.0266, 80.3622, 82.1850, 
        82.5718, 78.5016, 82.1391, 77.0290, 77.3651, 80.1534, 
        78.7506, 79.8491,81.0, 81.5
    ]
}

# Convert the dictionary to a DataFrame for better presentation
andhra_pradesh = pd.DataFrame(andhra_pradesh)

In [326]:
andhra_pradesh

             areas      lat     long
0    Visakhapatnam  17.6868  83.2185
1       Vijayawada  16.5062  80.6480
2           Guntur  16.3067  80.4365
3          Nellore  14.4426  79.9865
4          Kurnool  15.8281  78.0369
5         Tirupati  13.6288  79.4192
6      Rajahmundry  17.0005  81.7892
7           Kadapa  14.4673  78.8241
8        Anantapur  14.6819  77.6006
9         Chittoor  13.2172  79.1003
10           Eluru  16.7107  81.0951
11   Machilipatnam  16.1705  81.1302
12        Kakinada  16.9891  82.2475
13          Ongole  15.5036  80.0446
14       Proddatur  14.7502  78.5542
15        Hindupur  13.8284  77.4949
16           Adoni  15.6308  77.2748
17      Bhimavaram  16.5449  81.5230
18          Tenali  16.2430  80.5808
19      Srikakulam  18.2969  83.8970
20         Nandyal  15.4770  78.4836
21    Vizianagaram  18.1165  83.4162
22  Tadepalligudem  16.8132  81.4967
23        Gudivada  16.4419  81.0045
24        Markapur  15.7350  79.0554
25          Puttur  13.4524  79.5537
26    Narasaraopet  16.2380  80.0535
27          Kavali  14.9156  80.0266
28       Mandapeta  16.8644  80.3622
29         Chirala  17.0477  82.1850
30       Samalkota  17.3598  82.5718
31            Tuni  13.5528  78.5016
32     Madanapalle  17.0784  82.1391
33      Peddapuram  14.4144  77.0290
34     Dharmavaram  15.1698  77.3651
35        Guntakal  16.5338  80.1534
36       Palakollu  14.0573  78.7506
37    Sattenapalle  14.1514  79.8491

In [316]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(andhra_pradesh['lat'],andhra_pradesh['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])

IndexError: list index out of range

In [323]:
len(o3)

38

In [327]:
andhra_pradesh['AQI']=aqi
andhra_pradesh['pm2.5']=pm2
andhra_pradesh['pm10']=pm10
andhra_pradesh['co']=co
andhra_pradesh['so2']=so2
andhra_pradesh['no2']=no2
andhra_pradesh['o3']=o3

In [344]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(andhra_pradesh['lat'],andhra_pradesh['long']):
    url = "https://api.weatherstack.com/current?access_key=2eb4e1f54381450193072a78cdbd4637"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    wind_speed.append(re.findall('wind_speed\':\s(\d+\.?\d*)',str(response.json()))[0])
    humdity.append(re.findall('humidity\':\s(\d+\.?\d*)',str(response.json()))[0])
    pressure.append(re.findall('pressure\':\s(\d+\.?\d*)',str(response.json()))[0])
    temperature.append(re.findall('temperature\':\s(\d+\.?\d*)',str(response.json()))[0])

In [345]:
andhra_pradesh['temperature']=temperature
andhra_pradesh['wind_speed']=wind_speed
andhra_pradesh['humdity']=humdity
andhra_pradesh['pressure']=pressure

In [346]:
andhra_pradesh

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Visakhapatnam,17.6868,83.2185,203,91,164,1147,6,11,7,23,10,68,1013
1,Vijayawada,16.5062,80.6480,102,48,104,490,4,6,8,23,4,73,1013
2,Guntur,16.3067,80.4365,104,43,106,427,4,9,8,22,4,65,1013
3,Nellore,14.4426,79.9865,98,48,98,399,5,8,8,24,10,84,1012
4,Kurnool,15.8281,78.0369,94,34,94,443,4,9,9,22,8,80,1013
5,Tirupati,13.6288,79.4192,97,46,82,368,3,8,9,20,6,95,1013
6,Rajahmundry,17.0005,81.7892,129,68,143,651,5,8,12,22,8,77,1013
7,Kadapa,14.4673,78.8241,99,29,99,396,4,7,7,21,4,92,1013
8,Anantapur,14.6819,77.6006,64,29,64,261,4,9,9,21,9,90,1013
9,Chittoor,13.2172,79.1003,71,32,71,428,4,7,9,22,8,95,1013
10,Eluru,16.7107,81.0951,148,75,137,528,4,9,10,23,6,76,1013
11,Machilipatnam,16.1705,81.1302,111,60,116,493,3,9,8,25,14,75,1013
12,Kakinada,16.9891,82.2475,119,62,128,737,4,10,9,23,9,73,1013
13,Ongole,15.5036,80.0446,109,63,98,550,3,8,8,24,9,73,1013
14,Proddatur,14.7502,78.5542,82,33,82,382,3,8,8,22,4,84,1013
15,Hindupur,13.8284,77.4949,56,27,56,354,5,9,9,20,12,94,1013
16,Adoni,15.6308,77.2748,82,34,82,517,5,9,10,22,7,79,1013
17,Bhimavaram,16.5449,81.5230,138,72,107,596,4,13,7,23,7,76,1013
18,Tenali,16.2430,80.5808,96,56,96,504,3,9,8,23,4,71,1013
19,Srikakulam,18.2969,83.8970,204,91,180,725,5,17,8,21,9,68,1014
20,Nandyal,15.4770,78.4836,97,30,97,384,4,8,9,22,5,86,1013
21,Vizianagaram,18.1165,83.4162,202,91,137,770,4,8,9,20,5,74,1014
22,Tadepalligudem,16.8132,81.4967,170,81,123,605,4,13,7,23,8,75,1013
23,Gudivada,16.4419,81.0045,118,64,127,505,3,9,8,23,7,75,1013
24,Markapur,15.7350,79.0554,93,38,93,492,4,7,8,22,4,74,1013
25,Puttur,13.4524,79.5537,100,45,100,382,3,5,7,21,6,94,1013
26,Narasaraopet,16.2380,80.0535,118,66,119,539,5,6,7,21,4,62,1013
27,Kavali,14.9156,80.0266,118,65,97,512,4,8,10,24,9,83,1013
28,Mandapeta,16.8644,80.3622,125,67,133,660,6,5,8,21,4,62,1012
29,Chirala,17.0477,82.1850,116,64,124,648,4,9,11,22,9,76,1013
30,Samalkota,17.3598,82.5718,135,71,146,706,4,13,8,21,9,80,1013
31,Tuni,13.5528,78.5016,47,23,47,483,3,7,8,20,8,98,1014
32,Madanapalle,17.0784,82.1391,116,64,124,648,4,9,11,22,9,76,1013
33,Peddapuram,14.4144,77.0290,64,29,64,261,4,9,9,20,14,93,1013
34,Dharmavaram,15.1698,77.3651,76,29,76,649,6,9,10,22,9,89,1013
35,Guntakal,16.5338,80.1534,136,71,123,519,5,8,6,21,4,61,1013
36,Palakollu,14.0573,78.7506,68,26,68,324,3,8,9,21,4,96,1013
37,Sattenapalle,14.1514,79.8491,98,48,98,399,5,8,8,23,9,90,1011

In [172]:
andhra_pradesh.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\andhra_pradesh.csv',index=False)

NameError: name 'andhra_pradesh' is not defined

## Kerala

kerala_cities = {
    "areas": [
        "Thiruvananthapuram", "Kochi", "Kozhikode", "Kannur", "Kollam", 
        "Thrissur", "Alappuzha", "Palakkad", "Malappuram", "Kottayam", 
        "Kasaragod", "Pathanamthitta", "Idukki", "Varkala", "Guruvayur", 
        "Chalakudy", "Perinthalmanna", "Attingal", "Kayamkulam", "Ponnani", 
        "Nedumangad", "Kunnamkulam", "Muvattupuzha", "Adoor", "Ottapalam", 
        "Chengannur", "Vaikom", "Kothamangalam", "Kodungallur", "Tirur"
    ],
    "lat": [
        8.5241, 9.9312, 11.2588, 11.8745, 8.8932, 
        10.5276, 9.4981, 10.7867, 11.0731, 9.5916, 
        12.4984, 9.2640, 9.9174, 8.7333, 10.5943, 
        10.3007, 10.9805, 8.6957, 9.1696, 10.7668, 
        8.6024, 10.6484, 9.9802, 9.1668, 10.7722, 
        9.3180, 9.7473, 10.0586, 10.2228, 10.9236
    ],
    "long": [
        76.9366, 76.2760, 75.7804, 75.3704, 76.6141, 
        76.2144, 76.3388, 76.6548, 76.0822, 76.5219, 
        74.9870, 76.7871, 76.5670, 76.7398, 76.0414, 
        76.3348, 76.2176, 76.8162, 76.5003, 75.9258, 
        76.9872, 76.0724, 76.5727, 76.7313, 76.3787, 
        76.6204, 76.3933, 76.6297, 76.1990, 75.9210
    ]
}

# Convert the dictionary to a DataFrame
kerala = pd.DataFrame(kerala_cities)

In [349]:
kerala

                 areas      lat     long
0   Thiruvananthapuram   8.5241  76.9366
1                Kochi   9.9312  76.2760
2            Kozhikode  11.2588  75.7804
3               Kannur  11.8745  75.3704
4               Kollam   8.8932  76.6141
5             Thrissur  10.5276  76.2144
6            Alappuzha   9.4981  76.3388
7             Palakkad  10.7867  76.6548
8           Malappuram  11.0731  76.0822
9             Kottayam   9.5916  76.5219
10           Kasaragod  12.4984  74.9870
11      Pathanamthitta   9.2640  76.7871
12              Idukki   9.9174  76.5670
13             Varkala   8.7333  76.7398
14           Guruvayur  10.5943  76.0414
15           Chalakudy  10.3007  76.3348
16      Perinthalmanna  10.9805  76.2176
17            Attingal   8.6957  76.8162
18          Kayamkulam   9.1696  76.5003
19             Ponnani  10.7668  75.9258
20          Nedumangad   8.6024  76.9872
21         Kunnamkulam  10.6484  76.0724
22        Muvattupuzha   9.9802  76.5727
23               Adoor   9.1668  76.7313
24           Ottapalam  10.7722  76.3787
25          Chengannur   9.3180  76.6204
26              Vaikom   9.7473  76.3933
27       Kothamangalam  10.0586  76.6297
28         Kodungallur  10.2228  76.1990
29               Tirur  10.9236  75.9210

In [350]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(kerala['lat'],kerala['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
kerala['AQI']=aqi
kerala['pm2.5']=pm2
kerala['pm10']=pm10
kerala['co']=co
kerala['so2']=so2
kerala['no2']=no2
kerala['o3']=o3

In [362]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(kerala['lat'],kerala['long']):
    url = "https://api.weatherstack.com/current?access_key=0f4942a2146fcfd5f8288c6e2dfe6654"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    wind_speed.append(re.findall('wind_speed\':\s(\d+\.?\d*)',str(response.json()))[0])
    humdity.append(re.findall('humidity\':\s(\d+\.?\d*)',str(response.json()))[0])
    pressure.append(re.findall('pressure\':\s(\d+\.?\d*)',str(response.json()))[0])
    temperature.append(re.findall('temperature\':\s(\d+\.?\d*)',str(response.json()))[0])
kerala['temperature']=temperature
kerala['wind_speed']=wind_speed
kerala['humdity']=humdity
kerala['pressure']=pressure

In [363]:
kerala

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Thiruvananthapuram,8.5241,76.9366,47,18,47,333,3,5,10,25,5,89,1008
1,Kochi,9.9312,76.2760,53,26,53,220,2,5,7,25,9,94,1009
2,Kozhikode,11.2588,75.7804,57,26,57,443,3,6,9,24,6,100,1009
3,Kannur,11.8745,75.3704,57,26,57,443,3,6,9,25,8,81,1010
4,Kollam,8.8932,76.6141,61,23,61,242,2,5,10,25,5,81,1009
5,Thrissur,10.5276,76.2144,42,21,42,439,1,5,9,25,9,94,1009
6,Alappuzha,9.4981,76.3388,50,23,50,214,1,4,9,25,6,82,1009
7,Palakkad,10.7867,76.6548,44,18,44,391,3,7,8,24,17,89,1013
8,Malappuram,11.0731,76.0822,57,26,57,443,3,6,9,24,4,100,1009
9,Kottayam,9.5916,76.5219,50,23,50,214,1,4,9,23,4,92,1009
10,Kasaragod,12.4984,74.9870,85,36,85,304,3,8,12,26,9,74,1010
11,Pathanamthitta,9.2640,76.7871,40,19,40,213,2,5,9,22,4,95,1010
12,Idukki,9.9174,76.5670,53,26,53,220,2,5,7,25,8,94,1009
13,Varkala,8.7333,76.7398,61,23,61,242,2,5,10,25,5,89,1008
14,Guruvayur,10.5943,76.0414,42,21,42,439,1,5,9,26,18,80,1009
15,Chalakudy,10.3007,76.3348,50,25,50,279,2,5,8,25,9,94,1009
16,Perinthalmanna,10.9805,76.2176,42,21,42,439,1,5,9,24,4,100,1009
17,Attingal,8.6957,76.8162,47,18,47,333,3,5,10,25,5,89,1008
18,Kayamkulam,9.1696,76.5003,61,23,61,242,2,5,10,25,4,85,1009
19,Ponnani,10.7668,75.9258,42,21,42,439,1,5,9,24,21,100,1009
20,Nedumangad,8.6024,76.9872,47,18,47,333,3,5,10,25,5,89,1008
21,Kunnamkulam,10.6484,76.0724,42,21,42,439,1,5,9,24,18,100,1009
22,Muvattupuzha,9.9802,76.5727,53,26,53,220,2,5,7,25,8,94,1009
23,Adoor,9.1668,76.7313,40,19,40,213,2,5,9,22,4,95,1010
24,Ottapalam,10.7722,76.3787,44,18,44,391,3,7,8,23,13,90,1010
25,Chengannur,9.3180,76.6204,40,19,40,213,2,5,9,23,4,92,1009
26,Vaikom,9.7473,76.3933,53,26,53,220,2,5,7,25,8,94,1009
27,Kothamangalam,10.0586,76.6297,50,25,50,279,2,5,8,25,8,94,1009
28,Kodungallur,10.2228,76.1990,53,26,53,220,2,5,7,25,9,94,1009
29,Tirur,10.9236,75.9210,57,26,57,443,3,6,9,24,12,100,1009

In [353]:
#kerala.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\kerala.csv',index=False)

# Himachal pradesh

In [354]:
himachal_pradesh_cities = {
    "areas": [
        "Shimla", "Manali", "Dharamshala", "Kullu", "Chamba", 
        "Mandi", "Solan", "Bilaspur", "Hamirpur", "Una", 
        "Kangra", "Nalagarh", "Paonta Sahib", "Palampur", "Nahan", 
        "Rohru", "Keylong", "Sundarnagar", "Jogindernagar", "Baddi", 
        "Kasauli", "Chopal", "Rampur", "Kinnaur", "Kalpa", 
        "Theog", "Tandi", "Barog", "Sarahan", "Bhuntar"
    ],
    "lat": [
        31.1048, 32.2432, 32.2190, 31.9579, 32.5558, 
        31.5892, 30.9090, 31.3398, 31.6846, 31.4647, 
        32.0998, 31.0379, 30.4406, 32.1106, 30.5606, 
        31.2023, 32.5753, 31.5388, 31.9974, 30.9578, 
        30.9009, 30.9572, 31.4520, 31.4582, 31.5389, 
        31.6083, 31.3838, 30.8912, 31.5810, 31.8650
    ],
    "long": [
        77.1734, 77.1887, 76.3234, 77.1110, 76.1267, 
        76.9182, 77.1045, 76.7578, 76.5251, 76.2757, 
        76.2691, 76.7255, 77.6247, 76.5375, 77.2926, 
        77.7496, 77.0244, 76.8893, 76.7986, 76.7910, 
        76.9646, 77.5869, 77.6341, 78.0322, 77.4127, 
        77.3756, 77.1715, 76.9823, 77.7690, 77.1545
    ]
}

# Convert the dictionary to a DataFrame
himachal_pradesh = pd.DataFrame(himachal_pradesh_cities)

In [355]:
himachal_pradesh

            areas      lat     long
0          Shimla  31.1048  77.1734
1          Manali  32.2432  77.1887
2     Dharamshala  32.2190  76.3234
3           Kullu  31.9579  77.1110
4          Chamba  32.5558  76.1267
5           Mandi  31.5892  76.9182
6           Solan  30.9090  77.1045
7        Bilaspur  31.3398  76.7578
8        Hamirpur  31.6846  76.5251
9             Una  31.4647  76.2757
10         Kangra  32.0998  76.2691
11       Nalagarh  31.0379  76.7255
12   Paonta Sahib  30.4406  77.6247
13       Palampur  32.1106  76.5375
14          Nahan  30.5606  77.2926
15          Rohru  31.2023  77.7496
16        Keylong  32.5753  77.0244
17    Sundarnagar  31.5388  76.8893
18  Jogindernagar  31.9974  76.7986
19          Baddi  30.9578  76.7910
20        Kasauli  30.9009  76.9646
21         Chopal  30.9572  77.5869
22         Rampur  31.4520  77.6341
23        Kinnaur  31.4582  78.0322
24          Kalpa  31.5389  77.4127
25          Theog  31.6083  77.3756
26          Tandi  31.3838  77.1715
27          Barog  30.8912  76.9823
28        Sarahan  31.5810  77.7690
29        Bhuntar  31.8650  77.1545

In [357]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(himachal_pradesh['lat'],himachal_pradesh['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
himachal_pradesh['AQI']=aqi
himachal_pradesh['pm2.5']=pm2
himachal_pradesh['pm10']=pm10
himachal_pradesh['co']=co
himachal_pradesh['so2']=so2
himachal_pradesh['no2']=no2
himachal_pradesh['o3']=o3

In [366]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(himachal_pradesh['lat'],himachal_pradesh['long']):
    url = "https://api.weatherstack.com/current?access_key=0f4942a2146fcfd5f8288c6e2dfe6654"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    wind_speed.append(re.findall('wind_speed\':\s(\d+\.?\d*)',str(response.json()))[0])
    humdity.append(re.findall('humidity\':\s(\d+\.?\d*)',str(response.json()))[0])
    pressure.append(re.findall('pressure\':\s(\d+\.?\d*)',str(response.json()))[0])
    temperature.append(re.findall('temperature\':\s(\d+\.?\d*)',str(response.json()))[0])
himachal_pradesh['temperature']=temperature
himachal_pradesh['wind_speed']=wind_speed
himachal_pradesh['humdity']=humdity
himachal_pradesh['pressure']=pressure

IndexError: list index out of range

In [371]:
len(temperature)

1

## UP

In [375]:
uttar_pradesh_cities = {
    "areas": [
        "Lucknow", "Kanpur", "Varanasi", "Agra", "Meerut", 
        "Prayagraj", "Noida", "Ghaziabad", "Bareilly", "Aligarh", 
        "Moradabad", "Saharanpur", "Gorakhpur", "Jhansi", "Firozabad", 
        "Muzaffarnagar", "Mathura", "Rampur", "Shahjahanpur", "Faizabad", 
        "Raebareli", "Hapur", "Ballia", "Etawah", "Budaun", 
        "Pilibhit", "Fatehpur", "Sitapur", "Gonda", "Bahraich", 
        "Mirzapur", "Lakhimpur", "Jaunpur", "Deoria", "Bijnor", 
        "Mainpuri", "Barabanki", "Unnao", "Ambedkar Nagar", "Etah", 
        "Amroha", "Kasganj", "Farrukhabad", "Hardoi", "Sultanpur", 
        "Chandauli", "Mau", "Azamgarh", "Siddharthnagar", "Basti"
    ],
    "lat": [
        26.8467, 26.4499, 25.3176, 27.1767, 28.9845, 
        25.4358, 28.5355, 28.6692, 28.3670, 27.8800, 
        28.8386, 30.1540, 26.7606, 25.4484, 27.1591, 
        29.4727, 27.4924, 28.8154, 27.8815, 26.7755, 
        26.2303, 28.7306, 25.7580, 26.7788, 28.0381, 
        28.6312, 25.9260, 27.5700, 27.1313, 27.5743, 
        25.1449, 26.0719, 26.5012, 29.3726, 27.2184, 
        26.9386, 26.5471, 26.4326, 27.5635, 28.9032, 
        27.3823, 27.3977, 27.3943, 26.2501, 25.2736, 
        26.2618, 26.0621, 26.7504, 27.2741, 26.8235
    ],
    "long": [
        80.9462, 80.3319, 82.9739, 78.0081, 77.7064, 
        81.8463, 77.3910, 77.4538, 79.4304, 78.0806, 
        78.7733, 77.5696, 83.3732, 78.5696, 78.3958, 
        77.7064, 77.6737, 79.0268, 79.9120, 82.1459, 
        81.2407, 77.7764, 84.1484, 79.0216, 79.1212, 
        79.8030, 80.8150, 80.6771, 81.5919, 81.6016, 
        82.5875, 82.6835, 83.7791, 78.1361, 79.0451, 
        81.1860, 80.4870, 82.4244, 78.6370, 78.0467, 
        78.0806, 79.5795, 79.8343, 80.5073, 82.1433, 
        83.2622, 83.5617, 83.2114, 83.0575, 82.7385
    ]
}

# Convert the dictionary to a DataFrame
uttar_pradesh = pd.DataFrame(uttar_pradesh_cities)

In [377]:
uttar_pradesh.head()

      areas      lat     long
0   Lucknow  26.8467  80.9462
1    Kanpur  26.4499  80.3319
2  Varanasi  25.3176  82.9739
3      Agra  27.1767  78.0081
4    Meerut  28.9845  77.7064

In [378]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(uttar_pradesh['lat'],uttar_pradesh['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
uttar_pradesh['AQI']=aqi
uttar_pradesh['pm2.5']=pm2
uttar_pradesh['pm10']=pm10
uttar_pradesh['co']=co
uttar_pradesh['so2']=so2
uttar_pradesh['no2']=no2
uttar_pradesh['o3']=o3

In [379]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(uttar_pradesh['lat'],uttar_pradesh['long']):
    url = "https://api.weatherstack.com/current?access_key=0f4942a2146fcfd5f8288c6e2dfe6654"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    wind_speed.append(re.findall('wind_speed\':\s(\d+\.?\d*)',str(response.json()))[0])
    humdity.append(re.findall('humidity\':\s(\d+\.?\d*)',str(response.json()))[0])
    pressure.append(re.findall('pressure\':\s(\d+\.?\d*)',str(response.json()))[0])
    temperature.append(re.findall('temperature\':\s(\d+\.?\d*)',str(response.json()))[0])
uttar_pradesh['temperature']=temperature
uttar_pradesh['wind_speed']=wind_speed
uttar_pradesh['humdity']=humdity
uttar_pradesh['pressure']=pressure

In [380]:
uttar_pradesh

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Lucknow,26.8467,80.9462,157,75,157,584,4,7,10,12,12,22,1016
1,Kanpur,26.4499,80.3319,119,59,128,729,4,9,7,11,11,24,1016
2,Varanasi,25.3176,82.9739,103,39,106,932,6,9,5,11,11,27,1016
3,Agra,27.1767,78.0081,111,44,117,508,5,8,6,12,10,26,1017
4,Meerut,28.9845,77.7064,238,102,173,794,4,29,14,12,12,21,1018
5,Prayagraj,25.4358,81.8463,150,61,110,979,6,6,6,11,12,25,1016
6,Noida,28.5355,77.3910,231,99,196,1087,5,29,7,12,10,62,1019
7,Ghaziabad,28.6692,77.4538,230,99,181,888,4,31,9,12,10,62,1019
8,Bareilly,28.3670,79.4304,62,31,62,671,5,6,7,12,13,24,1017
9,Aligarh,27.8800,78.0806,87,35,87,917,7,14,8,12,12,24,1017
10,Moradabad,28.8386,78.7733,105,47,108,641,5,9,11,11,13,24,1017
11,Saharanpur,30.1540,77.5696,202,91,158,876,5,23,16,10,10,26,1018
12,Gorakhpur,26.7606,83.3732,142,49,162,779,6,8,12,12,11,44,1015
13,Jhansi,25.4484,78.5696,192,88,170,1072,5,10,10,11,8,28,1018
14,Firozabad,27.1591,78.3958,63,34,63,414,6,6,8,11,10,26,1017
15,Muzaffarnagar,29.4727,77.7064,144,73,144,724,5,17,16,11,12,22,1018
16,Mathura,27.4924,77.6737,102,36,103,727,6,10,6,12,12,26,1018
17,Rampur,28.8154,79.0268,106,50,109,650,6,12,13,11,13,25,1016
18,Shahjahanpur,27.8815,79.9120,79,43,79,749,6,10,6,13,12,24,1017
19,Faizabad,26.7755,82.1459,125,51,138,829,5,8,6,12,12,25,1015
20,Raebareli,26.2303,81.2407,128,63,141,918,4,9,8,11,11,23,1016
21,Hapur,28.7306,77.7764,148,73,172,889,4,28,9,11,13,22,1018
22,Ballia,25.7580,84.1484,141,61,135,840,4,10,13,13,10,26,1016
23,Etawah,26.7788,79.0216,111,53,117,758,5,11,8,11,12,25,1017
24,Budaun,28.0381,79.1212,76,35,76,709,7,6,7,12,12,24,1017
25,Pilibhit,28.6312,79.8030,117,57,125,675,5,14,8,10,10,32,1016
26,Fatehpur,25.9260,80.8150,314,138,160,1019,4,7,8,11,9,25,1017
27,Sitapur,27.5700,80.6771,115,49,122,753,4,10,6,12,14,25,1016
28,Gonda,27.1313,81.5919,102,52,103,743,4,10,10,13,14,26,1016
29,Bahraich,27.5743,81.6016,102,52,103,743,4,10,10,12,13,28,1015
30,Mirzapur,25.1449,82.5875,176,73,120,570,5,6,10,10,10,29,1016
31,Lakhimpur,26.0719,82.6835,263,109,145,734,4,7,8,12,13,24,1016
32,Jaunpur,26.5012,83.7791,142,49,162,779,6,8,12,12,11,40,1015
33,Deoria,29.3726,78.1361,144,73,144,724,5,17,16,11,13,23,1018
34,Bijnor,27.2184,79.0451,111,53,117,758,5,11,8,13,12,22,1017
35,Mainpuri,26.9386,81.1860,157,75,157,584,4,7,10,12,12,22,1016
36,Barabanki,26.5471,80.4870,119,59,128,729,4,9,7,12,11,24,1016
37,Unnao,26.4326,82.4244,128,63,141,918,4,9,8,13,11,32,1016
38,Ambedkar Nagar,27.5635,78.6370,85,36,85,709,6,7,7,12,12,23,1017
39,Etah,28.9032,78.0467,238,102,173,794,4,29,14,12,12,22,1018
40,Amroha,27.3823,78.0806,111,44,117,508,5,8,6,12,10,26,1017
41,Kasganj,27.3977,79.5795,79,43,79,749,6,10,6,12,12,23,1016
42,Farrukhabad,27.3943,79.8343,79,43,79,749,6,10,6,12,12,23,1016
43,Hardoi,26.2501,80.5073,119,59,128,729,4,9,7,11,10,24,1016
44,Sultanpur,25.2736,82.1433,150,61,110,979,6,6,6,11,12,25,1016
45,Chandauli,26.2618,83.2622,142,49,162,779,6,8,12,12,12,30,1015
46,Mau,26.0621,83.5617,141,61,135,840,4,10,13,12,12,31,1015
47,Azamgarh,26.7504,83.2114,142,49,162,779,6,8,12,12,11,44,1015
48,Siddharthnagar,27.2741,83.0575,142,49,162,779,6,8,12,12,4,61,1014
49,Basti,26.8235,82.7385,128,63,141,918,4,9,8,13,12,37,1015

In [381]:
#uttar_pradesh.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\uttar_pradesh.csv',index=False)

## Madhya Pradesh

In [384]:
madhya_pradesh_cities = {
    "areas": [
        "Bhopal", "Indore", "Jabalpur", "Gwalior", "Ujjain", 
        "Sagar", "Ratlam", "Rewa", "Satna", "Chhindwara", 
        "Morena", "Shivpuri", "Damoh", "Itarsi", "Hoshangabad", 
        "Dewas", "Katni", "Vidisha", "Neemuch", "Mandsaur", 
        "Khandwa", "Seoni", "Betul", "Sehore", "Datia", 
        "Chhatarpur", "Pithampur", "Shajapur", "Khargone", "Dhar", 
        "Mhow", "Bhind", "Mandla", "Tikamgarh", "Shahdol", 
        "Anuppur", "Ashoknagar", "Balaghat", "Guna", "Narsinghpur", 
        "Rajgarh", "Barwani", "Sidhi", "Singrauli", "Sheopur", 
        "Maihar", "Burhanpur", "Raisen", "Panna", "Umaria"
    ],
    "lat": [
        23.2599, 22.7196, 23.1815, 26.2183, 23.1793, 
        23.8388, 23.3303, 24.5343, 24.6005, 22.0583, 
        26.5026, 25.4235, 23.8354, 22.6148, 22.7513, 
        22.9676, 23.8336, 23.5260, 24.4763, 24.0718, 
        21.8339, 22.0866, 21.8960, 23.2002, 25.6721, 
        24.9177, 22.6013, 23.4212, 21.8222, 22.5937, 
        26.3614, 22.5991, 24.7598, 23.3053, 23.5390, 
        21.8167, 24.6445, 22.9518, 23.8515, 22.0314, 
        24.3964, 24.2069, 24.3963, 23.8045, 24.2644, 
        21.3086, 23.3336, 24.7206, 23.4711, 23.5251
    ],
    "long": [
        77.4126, 75.8577, 79.9864, 78.1828, 75.7849, 
        78.7378, 75.0367, 81.3018, 80.8322, 78.9398, 
        78.0039, 77.6557, 79.4413, 77.7620, 77.7172, 
        76.0552, 80.4122, 77.8124, 74.8786, 75.7428, 
        76.3516, 79.5478, 77.9040, 77.0800, 78.4596, 
        79.5820, 75.6965, 76.2711, 75.6101, 75.2977, 
        78.7880, 80.3643, 79.5869, 81.6892, 76.7362, 
        80.1848, 77.3093, 77.7424, 76.7345, 76.7169, 
        77.2334, 81.8825, 82.0034, 76.6971, 80.4505, 
        76.2310, 78.2178, 79.5198, 81.1998, 80.8365
    ]
}

# Convert the dictionary to a DataFrame
madhya_pradesh = pd.DataFrame(madhya_pradesh_cities)

In [385]:
madhya_pradesh

          areas      lat     long
0        Bhopal  23.2599  77.4126
1        Indore  22.7196  75.8577
2      Jabalpur  23.1815  79.9864
3       Gwalior  26.2183  78.1828
4        Ujjain  23.1793  75.7849
5         Sagar  23.8388  78.7378
6        Ratlam  23.3303  75.0367
7          Rewa  24.5343  81.3018
8         Satna  24.6005  80.8322
9    Chhindwara  22.0583  78.9398
10       Morena  26.5026  78.0039
11     Shivpuri  25.4235  77.6557
12        Damoh  23.8354  79.4413
13       Itarsi  22.6148  77.7620
14  Hoshangabad  22.7513  77.7172
15        Dewas  22.9676  76.0552
16        Katni  23.8336  80.4122
17      Vidisha  23.5260  77.8124
18      Neemuch  24.4763  74.8786
19     Mandsaur  24.0718  75.7428
20      Khandwa  21.8339  76.3516
21        Seoni  22.0866  79.5478
22        Betul  21.8960  77.9040
23       Sehore  23.2002  77.0800
24        Datia  25.6721  78.4596
25   Chhatarpur  24.9177  79.5820
26    Pithampur  22.6013  75.6965
27     Shajapur  23.4212  76.2711
28     Khargone  21.8222  75.6101
29         Dhar  22.5937  75.2977
30         Mhow  26.3614  78.7880
31        Bhind  22.5991  80.3643
32       Mandla  24.7598  79.5869
33    Tikamgarh  23.3053  81.6892
34      Shahdol  23.5390  76.7362
35      Anuppur  21.8167  80.1848
36   Ashoknagar  24.6445  77.3093
37     Balaghat  22.9518  77.7424
38         Guna  23.8515  76.7345
39  Narsinghpur  22.0314  76.7169
40      Rajgarh  24.3964  77.2334
41      Barwani  24.2069  81.8825
42        Sidhi  24.3963  82.0034
43    Singrauli  23.8045  76.6971
44      Sheopur  24.2644  80.4505
45       Maihar  21.3086  76.2310
46    Burhanpur  23.3336  78.2178
47       Raisen  24.7206  79.5198
48        Panna  23.4711  81.1998
49       Umaria  23.5251  80.8365

In [386]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(madhya_pradesh['lat'],madhya_pradesh['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
madhya_pradesh['AQI']=aqi
madhya_pradesh['pm2.5']=pm2
madhya_pradesh['pm10']=pm10
madhya_pradesh['co']=co
madhya_pradesh['so2']=so2
madhya_pradesh['no2']=no2
madhya_pradesh['o3']=o3

In [387]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(madhya_pradesh['lat'],madhya_pradesh['long']):
    url = "https://api.weatherstack.com/current?access_key=115d444ae10087e4b971ddcc9b05b559"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    wind_speed.append(re.findall('wind_speed\':\s(\d+\.?\d*)',str(response.json()))[0])
    humdity.append(re.findall('humidity\':\s(\d+\.?\d*)',str(response.json()))[0])
    pressure.append(re.findall('pressure\':\s(\d+\.?\d*)',str(response.json()))[0])
    temperature.append(re.findall('temperature\':\s(\d+\.?\d*)',str(response.json()))[0])
madhya_pradesh['temperature']=temperature
madhya_pradesh['wind_speed']=wind_speed
madhya_pradesh['humdity']=humdity
madhya_pradesh['pressure']=pressure

In [388]:
madhya_pradesh

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Bhopal,23.2599,77.4126,181,85,163,979,7,25,12,11,11,62,1018
1,Indore,22.7196,75.8577,174,82,151,1029,6,28,18,14,13,63,1018
2,Jabalpur,23.1815,79.9864,158,77,153,849,5,25,15,11,8,31,1017
3,Gwalior,26.2183,78.1828,218,94,239,877,8,18,14,10,8,29,1017
4,Ujjain,23.1793,75.7849,153,76,131,712,5,18,23,14,13,63,1018
5,Sagar,23.8388,78.7378,88,33,91,623,4,14,16,11,8,27,1017
6,Ratlam,23.3303,75.0367,121,44,131,711,4,16,19,13,15,36,1016
7,Rewa,24.5343,81.3018,66,24,66,628,4,7,13,11,6,29,1017
8,Satna,24.6005,80.8322,66,24,66,628,4,7,13,10,4,32,1017
9,Chhindwara,22.0583,78.9398,249,108,202,937,4,20,11,13,10,41,1016
10,Morena,26.5026,78.0039,218,94,239,877,8,18,14,10,8,30,1018
11,Shivpuri,25.4235,77.6557,178,79,165,894,6,8,13,11,6,26,1018
12,Damoh,23.8354,79.4413,88,33,91,623,4,14,16,12,8,27,1017
13,Itarsi,22.6148,77.7620,181,85,163,979,7,25,12,12,9,46,1016
14,Hoshangabad,22.7513,77.7172,181,85,163,979,7,25,12,12,9,43,1016
15,Dewas,22.9676,76.0552,174,82,151,1029,6,28,18,14,13,63,1018
16,Katni,23.8336,80.4122,121,53,132,702,5,21,13,11,6,29,1017
17,Vidisha,23.5260,77.8124,126,68,138,679,8,18,15,11,8,62,1018
18,Neemuch,24.4763,74.8786,102,43,102,659,5,12,16,12,12,39,1018
19,Mandsaur,24.0718,75.7428,90,30,90,672,6,14,21,14,10,39,1017
20,Khandwa,21.8339,76.3516,122,60,132,686,5,11,12,16,12,39,1016
21,Seoni,22.0866,79.5478,249,108,202,937,4,20,11,13,12,42,1016
22,Betul,21.8960,77.9040,124,67,117,969,5,15,16,13,5,49,1016
23,Sehore,23.2002,77.0800,181,85,163,979,7,25,12,11,12,62,1018
24,Datia,25.6721,78.4596,178,79,165,894,6,8,13,12,9,28,1017
25,Chhatarpur,24.9177,79.5820,120,50,131,602,5,9,11,11,6,31,1017
26,Pithampur,22.6013,75.6965,151,75,133,766,4,23,24,14,12,63,1018
27,Shajapur,23.4212,76.2711,174,82,151,1029,6,28,18,12,12,36,1017
28,Khargone,21.8222,75.6101,122,60,132,686,5,11,12,18,10,39,1015
29,Dhar,22.5937,75.2977,151,75,133,766,4,23,24,14,14,63,1018
30,Mhow,26.3614,78.7880,113,53,120,666,6,9,7,12,9,28,1018
31,Bhind,22.5991,80.3643,158,77,153,849,5,25,15,11,5,44,1016
32,Mandla,24.7598,79.5869,120,50,131,602,5,9,11,11,6,31,1017
33,Tikamgarh,23.3053,81.6892,70,42,64,442,2,7,12,9,4,42,1017
34,Shahdol,23.5390,76.7362,181,85,163,979,7,25,12,13,12,32,1017
35,Anuppur,21.8167,80.1848,195,88,178,879,5,13,9,14,10,43,1015
36,Ashoknagar,24.6445,77.3093,126,68,138,679,8,18,15,11,11,31,1017
37,Balaghat,22.9518,77.7424,181,85,163,979,7,25,12,12,9,43,1016
38,Guna,23.8515,76.7345,181,85,163,979,7,25,12,12,12,34,1017
39,Narsinghpur,22.0314,76.7169,122,60,132,686,5,11,12,14,12,42,1015
40,Rajgarh,24.3964,77.2334,126,68,138,679,8,18,15,11,11,31,1017
41,Barwani,24.2069,81.8825,102,44,102,723,6,9,10,10,5,30,1017
42,Sidhi,24.3963,82.0034,102,44,102,723,6,9,10,10,5,30,1017
43,Singrauli,23.8045,76.6971,181,85,163,979,7,25,12,12,12,34,1017
44,Sheopur,24.2644,80.4505,66,24,66,628,4,7,13,12,4,27,1017
45,Maihar,21.3086,76.2310,122,60,132,686,5,11,12,15,12,42,1014
46,Burhanpur,23.3336,78.2178,126,68,138,679,8,18,15,12,8,28,1016
47,Raisen,24.7206,79.5198,120,50,131,602,5,9,11,11,6,31,1017
48,Panna,23.4711,81.1998,121,53,132,702,5,21,13,9,4,42,1017
49,Umaria,23.5251,80.8365,121,53,132,702,5,21,13,11,4,39,1017

In [389]:
#madhya_pradesh.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\madhya_pradesh.csv',index=False)

## Arunachal Pradesh

In [3]:
arunachal_pradesh_cities = {
    "areas": [
        "Itanagar", "Tawang", "Ziro", "Pasighat", "Bomdila", 
        "Aalo", "Tezu", "Roing", "Seppa", "Khonsa", 
        "Yingkiong", "Daporijo", "Along", "Basar", "Namsai", 
        "Changlang", "Anini", "Dirang", "Ruksin", "Koloriang", 
        "Pangin", "Mechuka", "Jairampur", "Naharlagun", "Tirap", 
        "Hawai", "Deomali", "Hayuliang", "Menchuka", "Lohit"
    ],
    "lat": [
        27.0844, 27.5868, 27.5906, 28.0660, 27.2645, 
        28.1701, 27.9123, 28.1330, 27.2892, 27.0170, 
        28.6437, 27.9874, 28.1701, 27.9938, 27.8763, 
        27.3571, 28.7816, 27.3687, 27.8476, 27.8429, 
        28.1701, 28.5868, 27.2892, 27.1044, 27.2916, 
        28.2209, 27.9167, 28.6006, 28.5306, 28.1206
    ],
    "long": [
        93.6053, 91.8667, 93.8237, 95.3333, 92.4215, 
        94.8006, 96.1626, 95.8167, 93.0636, 95.5516, 
        94.8721, 94.2185, 94.8006, 94.6823, 96.1391, 
        95.7123, 96.5634, 92.4697, 95.2008, 93.5036, 
        94.8006, 94.8667, 93.0636, 93.6053, 95.2207, 
        96.3452, 96.3500, 95.9878, 94.1167, 96.6006
    ]
}

# Convert the dictionary to a DataFrame
arunachal_pradesh = pd.DataFrame(arunachal_pradesh_cities)

In [4]:
arunachal_pradesh

         areas      lat     long
0     Itanagar  27.0844  93.6053
1       Tawang  27.5868  91.8667
2         Ziro  27.5906  93.8237
3     Pasighat  28.0660  95.3333
4      Bomdila  27.2645  92.4215
5         Aalo  28.1701  94.8006
6         Tezu  27.9123  96.1626
7        Roing  28.1330  95.8167
8        Seppa  27.2892  93.0636
9       Khonsa  27.0170  95.5516
10   Yingkiong  28.6437  94.8721
11    Daporijo  27.9874  94.2185
12       Along  28.1701  94.8006
13       Basar  27.9938  94.6823
14      Namsai  27.8763  96.1391
15   Changlang  27.3571  95.7123
16       Anini  28.7816  96.5634
17      Dirang  27.3687  92.4697
18      Ruksin  27.8476  95.2008
19   Koloriang  27.8429  93.5036
20      Pangin  28.1701  94.8006
21     Mechuka  28.5868  94.8667
22   Jairampur  27.2892  93.0636
23  Naharlagun  27.1044  93.6053
24       Tirap  27.2916  95.2207
25       Hawai  28.2209  96.3452
26     Deomali  27.9167  96.3500
27   Hayuliang  28.6006  95.9878
28    Menchuka  28.5306  94.1167
29       Lohit  28.1206  96.6006

In [5]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(arunachal_pradesh['lat'],arunachal_pradesh['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
arunachal_pradesh['AQI']=aqi
arunachal_pradesh['pm2.5']=pm2
arunachal_pradesh['pm10']=pm10
arunachal_pradesh['co']=co
arunachal_pradesh['so2']=so2
arunachal_pradesh['no2']=no2
arunachal_pradesh['o3']=o3

In [19]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(arunachal_pradesh['lat'],arunachal_pradesh['long']):
    url = "https://api.weatherstack.com/current?access_key=0a3d6b902419befc6c02f326f6b5bafc"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)

In [20]:
arunachal_pradesh['temperature']=temperature
arunachal_pradesh['wind_speed']=wind_speed
arunachal_pradesh['humdity']=humdity
arunachal_pradesh['pressure']=pressure

In [24]:
arunachal_pradesh['state']='Arunachal Pradesh'

In [25]:
arunachal_pradesh

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure,state
0,Itanagar,27.0844,93.6053,68,39,66,386,3,7,8,14,7,65,1015,Arunachal Pradesh
1,Tawang,27.5868,91.8667,80,39,80,637,4,8,4,NaN,9,65,1020,Arunachal Pradesh
2,Ziro,27.5906,93.8237,68,39,66,386,3,7,8,8,4,82,1017,Arunachal Pradesh
3,Pasighat,28.0660,95.3333,71,34,71,390,7,10,4,16,6,59,1014,Arunachal Pradesh
4,Bomdila,27.2645,92.4215,80,39,80,637,4,8,4,0,6,90,1019,Arunachal Pradesh
5,Aalo,28.1701,94.8006,71,34,71,390,7,10,4,13,4,69,1016,Arunachal Pradesh
6,Tezu,27.9123,96.1626,71,34,71,390,7,10,4,16,8,42,1015,Arunachal Pradesh
7,Roing,28.1330,95.8167,71,34,71,390,7,10,4,6,11,47,1018,Arunachal Pradesh
8,Seppa,27.2892,93.0636,68,39,66,386,3,7,8,8,8,73,1018,Arunachal Pradesh
9,Khonsa,27.0170,95.5516,71,34,71,390,7,10,4,12,7,84,1016,Arunachal Pradesh
10,Yingkiong,28.6437,94.8721,71,34,71,390,7,10,4,7,6,64,1018,Arunachal Pradesh
11,Daporijo,27.9874,94.2185,71,34,71,390,7,10,4,8,4,77,1017,Arunachal Pradesh
12,Along,28.1701,94.8006,71,34,71,390,7,10,4,13,4,69,1016,Arunachal Pradesh
13,Basar,27.9938,94.6823,71,34,71,390,7,10,4,13,4,72,1015,Arunachal Pradesh
14,Namsai,27.8763,96.1391,71,34,71,390,7,10,4,16,8,42,1015,Arunachal Pradesh
15,Changlang,27.3571,95.7123,71,34,71,390,7,10,4,17,4,59,1013,Arunachal Pradesh
16,Anini,28.7816,96.5634,71,34,71,390,7,10,4,3,10,64,1021,Arunachal Pradesh
17,Dirang,27.3687,92.4697,80,39,80,637,4,8,4,0,6,90,1019,Arunachal Pradesh
18,Ruksin,27.8476,95.2008,71,34,71,390,7,10,4,19,6,83,1012,Arunachal Pradesh
19,Koloriang,27.8429,93.5036,68,39,66,386,3,7,8,8,4,82,1017,Arunachal Pradesh
20,Pangin,28.1701,94.8006,71,34,71,390,7,10,4,13,4,69,1016,Arunachal Pradesh
21,Mechuka,28.5868,94.8667,71,34,71,390,7,10,4,7,6,64,1018,Arunachal Pradesh
22,Jairampur,27.2892,93.0636,68,39,66,386,3,7,8,8,8,73,1018,Arunachal Pradesh
23,Naharlagun,27.1044,93.6053,68,39,66,386,3,7,8,14,7,65,1015,Arunachal Pradesh
24,Tirap,27.2916,95.2207,71,34,71,390,7,10,4,19,4,83,1012,Arunachal Pradesh
25,Hawai,28.2209,96.3452,71,34,71,390,7,10,4,5,6,56,1019,Arunachal Pradesh
26,Deomali,27.9167,96.3500,71,34,71,390,7,10,4,5,6,56,1019,Arunachal Pradesh
27,Hayuliang,28.6006,95.9878,71,34,71,390,7,10,4,3,10,68,1020,Arunachal Pradesh
28,Menchuka,28.5306,94.1167,71,34,71,390,7,10,4,2,10,77,1020,Arunachal Pradesh
29,Lohit,28.1206,96.6006,71,34,71,390,7,10,4,5,6,56,1019,Arunachal Pradesh

In [26]:
#arunachal_pradesh.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\arunachal_pradesh.csv',index=False)

# Goa

In [27]:
goa_cities = {
    "areas": [
        "Panaji", "Margao", "Vasco da Gama", "Mapusa", "Ponda",
        "Bicholim", "Curchorem", "Canacona", "Sanquelim", "Valpoi",
        "Calangute", "Porvorim", "Dona Paula", "Aldona", "Taleigao",
        "Anjuna", "Siolim", "Saligao", "Colva", "Candolim",
        "Pernem", "Quepem", "Sanguem", "Benaulim", "Chicalim",
        "Mandrem", "Cuncolim", "Dabolim", "Assagao", "Caranzalem"
    ],
    "lat": [
        15.4909, 15.2993, 15.4019, 15.5933, 15.4038,
        15.6035, 15.2605, 15.0160, 15.5643, 15.5362,
        15.5439, 15.5362, 15.4579, 15.6014, 15.4685,
        15.5898, 15.6085, 15.5318, 15.2786, 15.5188,
        15.7214, 15.2128, 15.1956, 15.2598, 15.3831,
        15.7101, 15.1582, 15.3782, 15.6062, 15.4737
    ],
    "long": [
        73.8278, 73.9581, 73.8150, 73.8149, 73.9896,
        73.9472, 74.0083, 74.0269, 73.9831, 74.0055,
        73.7447, 73.8353, 73.8114, 73.8897, 73.8212,
        73.7449, 73.7707, 73.8108, 73.9220, 73.7452,
        73.7941, 74.0826, 74.0719, 73.9182, 73.8580,
        73.7753, 73.9812, 73.8392, 73.8188, 73.8040
    ]
}

# Convert the dictionary to a DataFrame
goa= pd.DataFrame(goa_cities)
goa

            areas      lat     long
0          Panaji  15.4909  73.8278
1          Margao  15.2993  73.9581
2   Vasco da Gama  15.4019  73.8150
3          Mapusa  15.5933  73.8149
4           Ponda  15.4038  73.9896
5        Bicholim  15.6035  73.9472
6       Curchorem  15.2605  74.0083
7        Canacona  15.0160  74.0269
8       Sanquelim  15.5643  73.9831
9          Valpoi  15.5362  74.0055
10      Calangute  15.5439  73.7447
11       Porvorim  15.5362  73.8353
12     Dona Paula  15.4579  73.8114
13         Aldona  15.6014  73.8897
14       Taleigao  15.4685  73.8212
15         Anjuna  15.5898  73.7449
16         Siolim  15.6085  73.7707
17        Saligao  15.5318  73.8108
18          Colva  15.2786  73.9220
19       Candolim  15.5188  73.7452
20         Pernem  15.7214  73.7941
21         Quepem  15.2128  74.0826
22        Sanguem  15.1956  74.0719
23       Benaulim  15.2598  73.9182
24       Chicalim  15.3831  73.8580
25        Mandrem  15.7101  73.7753
26       Cuncolim  15.1582  73.9812
27        Dabolim  15.3782  73.8392
28        Assagao  15.6062  73.8188
29     Caranzalem  15.4737  73.8040

In [28]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(goa['lat'],goa['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
goa['AQI']=aqi
goa['pm2.5']=pm2
goa['pm10']=pm10
goa['co']=co
goa['so2']=so2
goa['no2']=no2
goa['o3']=o3

In [29]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(goa['lat'],goa['long']):
    url = "https://api.weatherstack.com/current?access_key=0a3d6b902419befc6c02f326f6b5bafc"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
goa['temperature']=temperature
goa['wind_speed']=wind_speed
goa['humdity']=humdity
goa['pressure']=pressure

In [32]:
goa

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Panaji,15.4909,73.8278,84,43,84,711,5,12,13,28,15,63,1009
1,Margao,15.2993,73.9581,86,34,86,594,4,13,12,28,6,62,1009
2,Vasco da Gama,15.4019,73.8150,84,43,84,711,5,12,13,28,17,65,1009
3,Mapusa,15.5933,73.8149,84,43,84,711,5,12,13,28,15,63,1009
4,Ponda,15.4038,73.9896,86,34,86,594,4,13,12,27,6,64,1010
5,Bicholim,15.6035,73.9472,84,43,84,711,5,12,13,28,15,63,1009
6,Curchorem,15.2605,74.0083,86,34,86,594,4,13,12,28,6,62,1009
7,Canacona,15.0160,74.0269,98,49,98,605,4,14,11,27,7,69,1009
8,Sanquelim,15.5643,73.9831,84,43,84,711,5,12,13,28,15,63,1009
9,Valpoi,15.5362,74.0055,84,43,84,711,5,12,13,28,15,63,1009
10,Calangute,15.5439,73.7447,84,43,84,711,5,12,13,28,15,63,1009
11,Porvorim,15.5362,73.8353,84,43,84,711,5,12,13,28,15,63,1009
12,Dona Paula,15.4579,73.8114,84,43,84,711,5,12,13,28,15,63,1009
13,Aldona,15.6014,73.8897,84,43,84,711,5,12,13,28,15,63,1009
14,Taleigao,15.4685,73.8212,84,43,84,711,5,12,13,28,15,63,1009
15,Anjuna,15.5898,73.7449,84,43,84,711,5,12,13,28,15,63,1009
16,Siolim,15.6085,73.7707,84,43,84,711,5,12,13,28,15,63,1009
17,Saligao,15.5318,73.8108,84,43,84,711,5,12,13,28,15,63,1009
18,Colva,15.2786,73.9220,86,34,86,594,4,13,12,28,6,62,1009
19,Candolim,15.5188,73.7452,84,43,84,711,5,12,13,28,15,63,1009
20,Pernem,15.7214,73.7941,84,43,84,711,5,12,13,28,15,63,1009
21,Quepem,15.2128,74.0826,98,49,98,605,4,14,11,28,6,62,1009
22,Sanguem,15.1956,74.0719,98,49,98,605,4,14,11,28,6,62,1009
23,Benaulim,15.2598,73.9182,86,34,86,594,4,13,12,28,6,62,1009
24,Chicalim,15.3831,73.8580,84,43,84,711,5,12,13,28,17,65,1009
25,Mandrem,15.7101,73.7753,84,43,84,711,5,12,13,28,15,63,1009
26,Cuncolim,15.1582,73.9812,98,49,98,605,4,14,11,28,6,62,1009
27,Dabolim,15.3782,73.8392,84,43,84,711,5,12,13,28,17,65,1009
28,Assagao,15.6062,73.8188,84,43,84,711,5,12,13,28,15,63,1009
29,Caranzalem,15.4737,73.8040,84,43,84,711,5,12,13,28,15,63,1009

In [33]:
#goa.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\goa.csv',index=False)

# Odisha

In [35]:
odisha_cities = {
    "areas": [
        "Bhubaneswar", "Cuttack", "Rourkela", "Puri", "Berhampur",
        "Sambalpur", "Balasore", "Baripada", "Jharsuguda", "Jeypore",
        "Angul", "Dhenkanal", "Bargarh", "Paradip", "Rayagada",
        "Bhadrak", "Koraput", "Balangir", "Kendrapara", "Keonjhar",
        "Sundargarh", "Jagatsinghpur", "Ganjam", "Kalahandi", "Nabarangpur",
        "Phulbani", "Malkangiri", "Subarnapur", "Jajpur", "Kandhamal"
    ],
    "lat": [
        20.2961, 20.4625, 22.2279, 19.8135, 19.3115,
        21.4509, 21.4942, 21.9310, 21.8674, 18.8560,
        20.8400, 20.6596, 21.3333, 20.3160, 19.1726,
        21.0545, 18.8173, 20.7047, 20.5008, 21.6280,
        22.1167, 20.2560, 19.3751, 19.9061, 19.2288,
        20.4697, 18.3565, 20.8333, 20.1338, 20.1418
    ],
    "long": [
        85.8245, 85.8828, 84.8568, 85.8312, 84.7929,
        83.9701, 86.9335, 86.7411, 84.0097, 82.5603,
        85.0971, 85.5992, 83.6167, 86.6110, 83.4195,
        86.4997, 82.7103, 83.4903, 86.4229, 85.5838,
        84.0333, 86.1688, 84.7735, 83.1726, 82.5803,
        84.1579, 82.2464, 86.3333, 84.0668, 84.1008
    ]
}

# Convert the dictionary to a DataFrame
odisha= pd.DataFrame(odisha_cities)
odisha

            areas      lat     long
0     Bhubaneswar  20.2961  85.8245
1         Cuttack  20.4625  85.8828
2        Rourkela  22.2279  84.8568
3            Puri  19.8135  85.8312
4       Berhampur  19.3115  84.7929
5       Sambalpur  21.4509  83.9701
6        Balasore  21.4942  86.9335
7        Baripada  21.9310  86.7411
8      Jharsuguda  21.8674  84.0097
9         Jeypore  18.8560  82.5603
10          Angul  20.8400  85.0971
11      Dhenkanal  20.6596  85.5992
12        Bargarh  21.3333  83.6167
13        Paradip  20.3160  86.6110
14       Rayagada  19.1726  83.4195
15        Bhadrak  21.0545  86.4997
16        Koraput  18.8173  82.7103
17       Balangir  20.7047  83.4903
18     Kendrapara  20.5008  86.4229
19       Keonjhar  21.6280  85.5838
20     Sundargarh  22.1167  84.0333
21  Jagatsinghpur  20.2560  86.1688
22         Ganjam  19.3751  84.7735
23      Kalahandi  19.9061  83.1726
24    Nabarangpur  19.2288  82.5803
25       Phulbani  20.4697  84.1579
26     Malkangiri  18.3565  82.2464
27     Subarnapur  20.8333  86.3333
28         Jajpur  20.1338  84.0668
29      Kandhamal  20.1418  84.1008

In [36]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(odisha['lat'],odisha['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
odisha['AQI']=aqi
odisha['pm2.5']=pm2
odisha['pm10']=pm10
odisha['co']=co
odisha['so2']=so2
odisha['no2']=no2
odisha['o3']=o3

In [37]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(odisha['lat'],odisha['long']):
    url = "https://api.weatherstack.com/current?access_key=0a3d6b902419befc6c02f326f6b5bafc"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
odisha['temperature']=temperature
odisha['wind_speed']=wind_speed
odisha['humdity']=humdity
odisha['pressure']=pressure

In [38]:
odisha

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Bhubaneswar,20.2961,85.8245,137,44,156,745,5,15,10,19,6,68,1014
1,Cuttack,20.4625,85.8828,140,60,160,699,4,14,10,19,4,68,1014
2,Rourkela,22.2279,84.8568,111,45,116,705,4,25,12,17,4,33,1014
3,Puri,19.8135,85.8312,125,57,138,692,5,15,7,24,15,41,1013
4,Berhampur,19.3115,84.7929,116,45,123,707,6,15,12,20,4,51,1013
5,Sambalpur,21.4509,83.9701,109,43,114,642,4,8,16,18,4,77,1014
6,Balasore,21.4942,86.9335,134,55,152,710,5,32,11,19,8,29,1014
7,Baripada,21.9310,86.7411,134,55,152,710,5,32,11,18,6,32,1014
8,Jharsuguda,21.8674,84.0097,109,43,114,642,4,8,16,18,4,77,1014
9,Jeypore,18.8560,82.5603,132,59,148,689,5,9,9,19,8,42,1014
10,Angul,20.8400,85.0971,140,60,160,699,4,14,10,19,4,41,1014
11,Dhenkanal,20.6596,85.5992,140,60,160,699,4,14,10,19,4,68,1014
12,Bargarh,21.3333,83.6167,109,43,114,642,4,8,16,19,4,35,1013
13,Paradip,20.3160,86.6110,133,60,150,720,5,14,6,22,14,38,1013
14,Rayagada,19.1726,83.4195,132,59,148,689,5,9,9,16,4,56,1014
15,Bhadrak,21.0545,86.4997,140,60,160,699,4,14,10,20,10,31,1013
16,Koraput,18.8173,82.7103,132,59,148,689,5,9,9,18,5,45,1014
17,Balangir,20.7047,83.4903,109,43,114,642,4,8,16,19,4,40,1014
18,Kendrapara,20.5008,86.4229,140,60,160,699,4,14,10,22,14,38,1013
19,Keonjhar,21.6280,85.5838,140,60,160,699,4,14,10,16,5,41,1015
20,Sundargarh,22.1167,84.0333,109,43,114,642,4,8,16,18,4,77,1014
21,Jagatsinghpur,20.2560,86.1688,137,44,156,745,5,15,10,19,7,68,1014
22,Ganjam,19.3751,84.7735,116,45,123,707,6,15,12,20,4,51,1013
23,Kalahandi,19.9061,83.1726,132,59,148,689,5,9,9,16,4,43,1014
24,Nabarangpur,19.2288,82.5803,132,59,148,689,5,9,9,17,9,41,1014
25,Phulbani,20.4697,84.1579,109,43,114,642,4,8,16,15,4,59,1015
26,Malkangiri,18.3565,82.2464,117,50,126,544,4,11,8,18,4,60,1015
27,Subarnapur,20.8333,86.3333,140,60,160,699,4,14,10,20,10,31,1013
28,Jajpur,20.1338,84.0668,116,45,123,707,6,15,12,15,4,59,1015
29,Kandhamal,20.1418,84.1008,116,45,123,707,6,15,12,15,4,59,1015

In [39]:
#odisha.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\odisha.csv',index=False)

# Delhi

In [77]:
delhi_data = {
    "areas": [
        "New Delhi", "Central Delhi", "East Delhi", "West Delhi", "North Delhi",
        "South Delhi", "Shahdara", "Dwarka", "Rohini", "Karol Bagh", 
        "Laxmi Nagar", "Patel Nagar", "Mayur Vihar", "Vasant Kunj", "Saket",
        "Chanakyapuri", "Greater Kailash", "Janakpuri", "Malviya Nagar", "Paschim Vihar",
        "Tilak Nagar", "Punjabi Bagh", "Ashok Vihar", "Kalkaji", "Okhla",
        "Narela", "Mehrauli", "Chandni Chowk", "Connaught Place", "Preet Vihar"
    ],
    "lat": [
        28.6139, 28.6562, 28.6298, 28.6517, 28.7041,
        28.5363, 28.6723, 28.5911, 28.7443, 28.6507, 
        28.6455, 28.6440, 28.6098, 28.5290, 28.5245,
        28.5849, 28.5462, 28.6217, 28.5282, 28.6819,
        28.6352, 28.6784, 28.6923, 28.5378, 28.5243,
        28.8505, 28.5161, 28.6562, 28.6315, 28.6377
    ],
    "long": [
        77.2090, 77.2307, 77.2732, 77.1025, 77.1025,
        77.2091, 77.2890, 77.0460, 77.1101, 77.1900, 
        77.2762, 77.1720, 77.2926, 77.1636, 77.2106,
        77.1734, 77.2368, 77.0931, 77.2197, 77.1025,
        77.0900, 77.1101, 77.1860, 77.2516, 77.2865,
        77.0913, 77.1636, 77.2300, 77.2177, 77.2907
    ]
}
delhi=pd.DataFrame(delhi_data)

In [80]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(delhi['lat'],delhi['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
delhi['AQI']=aqi
delhi['pm2.5']=pm2
delhi['pm10']=pm10
delhi['co']=co
delhi['so2']=so2
delhi['no2']=no2
delhi['o3']=o3

In [81]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(delhi['lat'],delhi['long']):
    url = "https://api.weatherstack.com/current?access_key=e651dd0232d7c86fb35227ae22863166"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
delhi['temperature']=temperature
delhi['wind_speed']=wind_speed
delhi['humdity']=humdity
delhi['pressure']=pressure

In [199]:
delhi=delhi.rename(columns={'humidity':'humdity'})

In [200]:
delhi

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,New Delhi,28.6139,77.2090,208,72,177,786,5,34,12,15,14.4,44,1017
1,Central Delhi,28.6562,77.2307,212,64,174,761,6,31,9,12,14.2,45,1011
2,East Delhi,28.6298,77.2732,208,70,132,1021,10,34,12,15,14.7,44,1009
3,West Delhi,28.6517,77.1025,196,63,123,862,6,33,12,15,14.5,45,1015
4,North Delhi,28.7041,77.1025,221,77,159,721,7,34,10,16,13.6,45,1014
5,South Delhi,28.5363,77.2091,155,68,133,1200,9,32,10,16,14.1,44,1019
6,Shahdara,28.6723,77.2890,244,78,156,1259,5,25,9,13,14.2,44,1007
7,Dwarka,28.5911,77.0460,255,63,127,1191,10,28,9,14,13.3,44,1014
8,Rohini,28.7443,77.1101,258,72,175,732,8,33,12,16,13.5,45,1003
9,Karol Bagh,28.6507,77.1900,293,64,147,898,10,32,12,12,14.7,45,1009
10,Laxmi Nagar,28.6455,77.2762,187,78,124,983,4,30,12,12,14.7,45,1009
11,Patel Nagar,28.6440,77.1720,251,71,143,1006,6,34,9,12,13.8,44,1003
12,Mayur Vihar,28.6098,77.2926,254,66,178,1215,5,34,10,13,13.8,45,1001
13,Vasant Kunj,28.5290,77.1636,251,63,157,923,4,31,10,12,14.8,45,1019
14,Saket,28.5245,77.2106,231,68,167,1039,9,31,9,13,13.1,45,1004
15,Chanakyapuri,28.5849,77.1734,235,62,127,1267,9,32,9,13,14.9,45,1017
16,Greater Kailash,28.5462,77.2368,228,78,144,1215,10,27,12,14,13.4,44,1005
17,Janakpuri,28.6217,77.0931,299,71,173,1215,10,33,12,16,14.4,45,1007
18,Malviya Nagar,28.5282,77.2197,268,79,131,1136,7,34,10,14,13.2,45,1013
19,Paschim Vihar,28.6819,77.1025,238,78,148,858,8,33,12,12,14.5,44,1006
20,Tilak Nagar,28.6352,77.0900,185,75,124,1136,10,25,9,13,14.8,44,1003
21,Punjabi Bagh,28.6784,77.1101,215,69,142,742,4,31,11,14,13.9,44,1016
22,Ashok Vihar,28.6923,77.1860,287,72,122,975,10,26,10,13,14.3,45,1008
23,Kalkaji,28.5378,77.2516,164,76,131,1142,10,34,11,14,14.6,44,1011
24,Okhla,28.5243,77.2865,193,75,177,1022,9,29,12,15,13.5,45,1008
25,Narela,28.8505,77.0913,250,76,160,1223,9,26,12,15,13.3,45,1000
26,Mehrauli,28.5161,77.1636,202,66,145,1206,5,26,9,12,13.8,45,1007
27,Chandni Chowk,28.6562,77.2300,288,64,128,1268,8,28,9,13,14.9,45,1019
28,Connaught Place,28.6315,77.2177,240,69,152,972,8,31,12,13,13.0,44,1010
29,Preet Vihar,28.6377,77.2907,188,67,172,832,10,26,12,12,14.1,45,1018

In [201]:
#delhi.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\delhi.csv',index=False)

# karnataka

In [83]:
karnataka_city = {
    "areas": [
        "Bangalore", "Mysore", "Hubli", "Mangalore", "Belgaum", 
        "Gulbarga", "Davangere", "Bellary", "Bijapur", "Shimoga",
        "Tumkur", "Raichur", "Hassan", "Bidar", "Chitradurga",
        "Udupi", "Kolar", "Chikkamagaluru", "Ramanagara", "Dharwad",
        "Gadag", "Bagalkot", "Mandya", "Yadgir", "Chikkaballapur",
        "Kodagu", "Karwar", "Haveri"
    ],
    "lat": [
        12.9716, 12.2958, 15.3647, 12.9141, 15.8497, 
        17.3297, 14.4645, 15.1394, 16.8302, 13.9299, 
        13.3409, 16.2106, 13.0051, 17.9133, 14.2296, 
        13.3409, 13.1360, 13.3161, 12.7217, 15.4589,
        15.4326, 16.1860, 12.5210, 16.7665, 13.4350,
        12.3375, 14.8000, 14.7953
    ],
    "long": [
        77.5946, 76.6394, 75.1240, 74.8560, 74.4977, 
        76.8343, 75.9211, 76.9214, 75.7090, 75.5681, 
        77.1010, 77.3646, 76.0971, 77.5301, 76.4003, 
        74.7421, 78.1303, 75.7734, 77.2766, 75.0078, 
        75.6121, 75.6933, 76.9010, 77.1376, 77.7278,
        75.8069, 74.1340, 75.3396
    ]
}
karnataka=pd.DataFrame(karnataka_city)

In [84]:
karnataka

             areas      lat     long
0        Bangalore  12.9716  77.5946
1           Mysore  12.2958  76.6394
2            Hubli  15.3647  75.1240
3        Mangalore  12.9141  74.8560
4          Belgaum  15.8497  74.4977
5         Gulbarga  17.3297  76.8343
6        Davangere  14.4645  75.9211
7          Bellary  15.1394  76.9214
8          Bijapur  16.8302  75.7090
9          Shimoga  13.9299  75.5681
10          Tumkur  13.3409  77.1010
11         Raichur  16.2106  77.3646
12          Hassan  13.0051  76.0971
13           Bidar  17.9133  77.5301
14     Chitradurga  14.2296  76.4003
15           Udupi  13.3409  74.7421
16           Kolar  13.1360  78.1303
17  Chikkamagaluru  13.3161  75.7734
18      Ramanagara  12.7217  77.2766
19         Dharwad  15.4589  75.0078
20           Gadag  15.4326  75.6121
21        Bagalkot  16.1860  75.6933
22          Mandya  12.5210  76.9010
23          Yadgir  16.7665  77.1376
24  Chikkaballapur  13.4350  77.7278
25          Kodagu  12.3375  75.8069
26          Karwar  14.8000  74.1340
27          Haveri  14.7953  75.3396

In [85]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(karnataka['lat'],karnataka['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
karnataka['AQI']=aqi
karnataka['pm2.5']=pm2
karnataka['pm10']=pm10
karnataka['co']=co
karnataka['so2']=so2
karnataka['no2']=no2
karnataka['o3']=o3

In [86]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(karnataka['lat'],karnataka['long']):
    url = "https://api.weatherstack.com/current?access_key=e651dd0232d7c86fb35227ae22863166"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
karnataka['temperature']=temperature
karnataka['wind_speed']=wind_speed
karnataka['humdity']=humdity
karnataka['pressure']=pressure

In [87]:
karnataka

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Bangalore,12.9716,77.5946,123,64,104,609,3,11,9,20,13,94,1018
1,Mysore,12.2958,76.6394,81,38,81,628,3,9,8,20,13,93,1014
2,Hubli,15.3647,75.1240,87,43,87,603,4,11,8,23,14,40,1014
3,Mangalore,12.9141,74.8560,96,44,98,436,2,7,8,26,8,84,1011
4,Belgaum,15.8497,74.4977,121,66,124,681,5,19,13,20,10,46,1014
5,Gulbarga,17.3297,76.8343,110,54,116,542,6,16,18,20,14,42,1015
6,Davangere,14.4645,75.9211,60,26,60,417,4,9,11,22,15,79,1014
7,Bellary,15.1394,76.9214,69,36,69,331,3,8,9,22,12,76,1014
8,Bijapur,16.8302,75.7090,69,30,69,337,4,6,9,22,15,38,1015
9,Shimoga,13.9299,75.5681,50,24,50,342,3,8,12,21,12,83,1014
10,Tumkur,13.3409,77.1010,74,41,74,430,3,8,9,19,8,92,1015
11,Raichur,16.2106,77.3646,94,44,95,437,4,8,10,22,11,46,1014
12,Hassan,13.0051,76.0971,59,33,58,263,2,6,8,20,15,89,1015
13,Bidar,17.9133,77.5301,88,42,88,651,4,19,10,18,11,42,1016
14,Chitradurga,14.2296,76.4003,60,26,60,417,4,9,11,20,13,85,1014
15,Udupi,13.3409,74.7421,100,48,100,536,4,10,9,26,10,84,1011
16,Kolar,13.1360,78.1303,57,34,57,526,3,5,10,20,9,94,1018
17,Chikkamagaluru,13.3161,75.7734,50,26,50,241,2,11,8,20,12,91,1015
18,Ramanagara,12.7217,77.2766,123,64,104,609,3,11,9,23,10,89,1018
19,Dharwad,15.4589,75.0078,87,43,87,603,4,11,8,22,14,39,1014
20,Gadag,15.4326,75.6121,87,43,87,603,4,11,8,23,15,45,1014
21,Bagalkot,16.1860,75.6933,69,30,69,337,4,6,9,22,13,40,1014
22,Mandya,12.5210,76.9010,64,30,64,680,3,8,8,20,13,92,1014
23,Yadgir,16.7665,77.1376,94,44,95,437,4,8,10,21,11,41,1015
24,Chikkaballapur,13.4350,77.7278,81,49,66,381,3,9,11,20,9,94,1018
25,Kodagu,12.3375,75.8069,59,33,58,263,2,6,8,18,8,94,1014
26,Karwar,14.8000,74.1340,105,41,108,512,5,13,9,26,7,69,1011
27,Haveri,14.7953,75.3396,60,26,60,417,4,9,11,22,13,74,1014

In [88]:
#karnataka.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\karnataka.csv',index=False)

# Assam

In [89]:
assam_cities = {
    "areas": [
        "Guwahati", "Silchar", "Dibrugarh", "Jorhat", "Tinsukia",
        "Nagaon", "Tezpur", "Diphu", "North Lakhimpur", "Goalpara",
        "Barpeta", "Karimganj", "Sivasagar", "Dhubri", "Morigaon",
        "Golaghat", "Bongaigaon", "Hojai", "Mangaldoi", "Nalbari",
        "Dhemaji", "Cachar", "Hailakandi", "Sonitpur", "Baksa",
        "Chirang", "Udalguri", "Biswanath", "Dima Hasao", "Majuli"
    ],
    "lat": [
        26.1445, 24.8338, 27.4728, 26.7471, 27.4891,
        26.3464, 26.6337, 25.8434, 27.2335, 26.1833,
        26.3056, 24.8688, 26.9840, 26.0186, 26.2500,
        26.5156, 26.5023, 26.0026, 26.4526, 26.4499,
        27.4883, 24.8337, 24.6826, 26.7004, 26.6906,
        26.5226, 26.7515, 26.7183, 27.0238, 27.0023
    ],
    "long": [
        91.7362, 92.7789, 94.9120, 94.2036, 95.3607,
        92.6834, 92.7939, 93.4314, 94.1033, 90.6250,
        91.0064, 92.3417, 94.6332, 89.9902, 92.3380,
        93.9693, 90.5656, 92.8498, 92.0307, 91.4416,
        94.5706, 92.7603, 92.6209, 92.4334, 91.6507,
        90.9641, 92.1113, 93.1475, 93.0916, 94.2183
    ]
}

# Convert the dictionary to a DataFrame
assam= pd.DataFrame(assam_cities)

In [90]:
assam

              areas      lat     long
0          Guwahati  26.1445  91.7362
1           Silchar  24.8338  92.7789
2         Dibrugarh  27.4728  94.9120
3            Jorhat  26.7471  94.2036
4          Tinsukia  27.4891  95.3607
5            Nagaon  26.3464  92.6834
6            Tezpur  26.6337  92.7939
7             Diphu  25.8434  93.4314
8   North Lakhimpur  27.2335  94.1033
9          Goalpara  26.1833  90.6250
10          Barpeta  26.3056  91.0064
11        Karimganj  24.8688  92.3417
12        Sivasagar  26.9840  94.6332
13           Dhubri  26.0186  89.9902
14         Morigaon  26.2500  92.3380
15         Golaghat  26.5156  93.9693
16       Bongaigaon  26.5023  90.5656
17            Hojai  26.0026  92.8498
18        Mangaldoi  26.4526  92.0307
19          Nalbari  26.4499  91.4416
20          Dhemaji  27.4883  94.5706
21           Cachar  24.8337  92.7603
22       Hailakandi  24.6826  92.6209
23         Sonitpur  26.7004  92.4334
24            Baksa  26.6906  91.6507
25          Chirang  26.5226  90.9641
26         Udalguri  26.7515  92.1113
27        Biswanath  26.7183  93.1475
28       Dima Hasao  27.0238  93.0916
29           Majuli  27.0023  94.2183

In [91]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(assam['lat'],assam['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
assam['AQI']=aqi
assam['pm2.5']=pm2
assam['pm10']=pm10
assam['co']=co
assam['so2']=so2
assam['no2']=no2
assam['o3']=o3

In [92]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(assam['lat'],assam['long']):
    url = "https://api.weatherstack.com/current?access_key=d32788f076c1df84126c1632196fef18"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
assam['temperature']=temperature
assam['wind_speed']=wind_speed
assam['humdity']=humdity
assam['pressure']=pressure

In [93]:
assam

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Guwahati,26.1445,91.7362,325,153,145,1504,4,6,8,16,4,94,1015
1,Silchar,24.8338,92.7789,96,39,96,454,4,7,8,14,6,80,1015
2,Dibrugarh,27.4728,94.9120,117,49,125,865,7,10,4,15,5,94,1015
3,Jorhat,26.7471,94.2036,86,49,86,1049,7,9,9,14,4,100,1015
4,Tinsukia,27.4891,95.3607,117,49,125,865,7,10,4,15,4,94,1015
5,Nagaon,26.3464,92.6834,104,57,105,576,4,8,8,15,5,79,1016
6,Tezpur,26.6337,92.7939,104,57,105,576,4,8,8,15,5,76,1016
7,Diphu,25.8434,93.4314,56,29,56,683,4,6,7,13,4,96,1016
8,North Lakhimpur,27.2335,94.1033,114,51,120,822,4,8,10,14,4,100,1015
9,Goalpara,26.1833,90.6250,308,131,270,916,5,12,5,15,4,74,1015
10,Barpeta,26.3056,91.0064,325,153,145,1504,4,6,8,16,4,94,1015
11,Karimganj,24.8688,92.3417,96,39,96,454,4,7,8,14,5,71,1015
12,Sivasagar,26.9840,94.6332,86,49,86,1049,7,9,9,15,4,79,1016
13,Dhubri,26.0186,89.9902,308,131,270,916,5,12,5,17,8,65,1015
14,Morigaon,26.2500,92.3380,325,153,145,1504,4,6,8,15,5,81,1016
15,Golaghat,26.5156,93.9693,86,49,86,1049,7,9,9,14,4,86,1016
16,Bongaigaon,26.5023,90.5656,308,131,270,916,5,12,5,15,4,65,1016
17,Hojai,26.0026,92.8498,104,57,105,576,4,8,8,15,5,81,1016
18,Mangaldoi,26.4526,92.0307,305,136,149,1434,4,7,9,16,7,94,1015
19,Nalbari,26.4499,91.4416,325,153,145,1504,4,6,8,16,4,94,1015
20,Dhemaji,27.4883,94.5706,117,49,125,865,7,10,4,15,6,94,1015
21,Cachar,24.8337,92.7603,96,39,96,454,4,7,8,14,6,78,1015
22,Hailakandi,24.6826,92.6209,96,39,96,454,4,7,8,14,6,80,1015
23,Sonitpur,26.7004,92.4334,104,57,105,576,4,8,8,15,5,76,1016
24,Baksa,26.6906,91.6507,305,136,149,1434,4,7,9,15,8,59,1017
25,Chirang,26.5226,90.9641,325,153,145,1504,4,6,8,15,5,66,1015
26,Udalguri,26.7515,92.1113,104,57,105,576,4,8,8,14,9,58,1018
27,Biswanath,26.7183,93.1475,104,57,105,576,4,8,8,15,4,78,1016
28,Dima Hasao,27.0238,93.0916,104,57,105,576,4,8,8,7,8,71,1019
29,Majuli,27.0023,94.2183,86,49,86,1049,7,9,9,14,4,100,1015

In [94]:
#assam.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\assam.csv',index=False)

# Haryana

In [95]:
haryana_cities = {
    "areas": [
        "Chandigarh", "Faridabad", "Gurugram", "Panipat", "Ambala",
        "Hisar", "Rohtak", "Karnal", "Sonipat", "Panchkula",
        "Yamunanagar", "Kurukshetra", "Bhiwani", "Sirsa", "Kaithal",
        "Palwal", "Jind", "Rewari", "Mahendragarh", "Fatehabad",
        "Jhajjar", "Charkhi Dadri", "Narnaul", "Gohana", "Hansi",
        "Narwana", "Tohana"
    ],
    "lat": [
        30.7333, 28.4089, 28.4595, 29.3901, 30.3782,
        29.1492, 28.8955, 29.6857, 28.9931, 30.6942,
        30.1290, 29.9695, 28.7933, 29.5349, 29.8012,
        28.1487, 29.3158, 28.1989, 28.2720, 29.5186,
        28.6067, 28.5910, 28.0444, 29.1378, 29.0989,
        29.6167, 29.7128
    ],
    "long": [
        76.7794, 77.3178, 77.0266, 76.9635, 76.7768,
        75.7217, 76.5851, 76.9905, 77.0186, 76.8537,
        77.2814, 76.8487, 76.1396, 75.0281, 76.3985,
        77.3330, 76.3784, 76.6239, 76.1326, 75.4554,
        76.6567, 76.2677, 76.0988, 76.6980, 75.9657,
        76.1140, 75.9192
    ]
}

# Convert the dictionary to a DataFrame
haryana = pd.DataFrame(haryana_cities)
haryana

            areas      lat     long
0      Chandigarh  30.7333  76.7794
1       Faridabad  28.4089  77.3178
2        Gurugram  28.4595  77.0266
3         Panipat  29.3901  76.9635
4          Ambala  30.3782  76.7768
5           Hisar  29.1492  75.7217
6          Rohtak  28.8955  76.5851
7          Karnal  29.6857  76.9905
8         Sonipat  28.9931  77.0186
9       Panchkula  30.6942  76.8537
10    Yamunanagar  30.1290  77.2814
11    Kurukshetra  29.9695  76.8487
12        Bhiwani  28.7933  76.1396
13          Sirsa  29.5349  75.0281
14        Kaithal  29.8012  76.3985
15         Palwal  28.1487  77.3330
16           Jind  29.3158  76.3784
17         Rewari  28.1989  76.6239
18   Mahendragarh  28.2720  76.1326
19      Fatehabad  29.5186  75.4554
20        Jhajjar  28.6067  76.6567
21  Charkhi Dadri  28.5910  76.2677
22        Narnaul  28.0444  76.0988
23         Gohana  29.1378  76.6980
24          Hansi  29.0989  75.9657
25        Narwana  29.6167  76.1140
26         Tohana  29.7128  75.9192

In [99]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(haryana['lat'],haryana['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
haryana['AQI']=aqi
haryana['pm2.5']=pm2
haryana['pm10']=pm10
haryana['co']=co
haryana['so2']=so2
haryana['no2']=no2
haryana['o3']=o3

In [100]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(haryana['lat'],haryana['long']):
    url = "https://api.weatherstack.com/current?access_key=d32788f076c1df84126c1632196fef18"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
haryana['temperature']=temperature
haryana['wind_speed']=wind_speed
haryana['humdity']=humdity
haryana['pressure']=pressure

In [101]:
haryana

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Chandigarh,30.7333,76.7794,213,94,166,606,4,15,14,10,11,24,1018
1,Faridabad,28.4089,77.3178,151,70,160,861,7,24,9,13,14,51,1018
2,Gurugram,28.4595,77.0266,138,70,152,892,6,16,12,13,13,51,1018
3,Panipat,29.3901,76.9635,90,45,91,443,5,10,11,12,14,22,1018
4,Ambala,30.3782,76.7768,108,47,113,702,6,11,9,11,15,27,1018
5,Hisar,29.1492,75.7217,110,56,116,611,15,11,16,13,14,20,1019
6,Rohtak,28.8955,76.5851,111,53,116,555,6,11,14,12,14,23,1018
7,Karnal,29.6857,76.9905,96,41,96,477,4,14,13,12,14,23,1018
8,Sonipat,28.9931,77.0186,117,61,124,680,7,12,11,13,14,51,1018
9,Panchkula,30.6942,76.8537,213,94,166,606,4,15,14,10,11,24,1018
10,Yamunanagar,30.1290,77.2814,116,51,124,752,4,19,12,11,13,27,1017
11,Kurukshetra,29.9695,76.8487,96,41,96,477,4,14,13,11,14,24,1018
12,Bhiwani,28.7933,76.1396,111,51,117,297,4,11,10,12,14,22,1019
13,Sirsa,29.5349,75.0281,98,40,97,594,4,7,33,12,13,17,1019
14,Kaithal,29.8012,76.3985,90,45,91,443,5,10,11,12,14,23,1018
15,Palwal,28.1487,77.3330,151,70,160,861,7,24,9,13,14,51,1018
16,Jind,29.3158,76.3784,111,53,116,555,6,11,14,12,14,23,1018
17,Rewari,28.1989,76.6239,138,70,152,892,6,16,12,11,14,24,1019
18,Mahendragarh,28.2720,76.1326,90,49,88,624,5,13,17,10,12,24,1019
19,Fatehabad,29.5186,75.4554,98,40,97,594,4,7,33,12,13,20,1019
20,Jhajjar,28.6067,76.6567,111,53,116,555,6,11,14,13,13,51,1018
21,Charkhi Dadri,28.5910,76.2677,111,51,117,297,4,11,10,12,14,22,1019
22,Narnaul,28.0444,76.0988,90,49,88,624,5,13,17,10,12,24,1019
23,Gohana,29.1378,76.6980,111,53,116,555,6,11,14,12,14,23,1018
24,Hansi,29.0989,75.9657,110,56,116,611,15,11,16,13,14,22,1019
25,Narwana,29.6167,76.1140,90,45,91,443,5,10,11,12,14,24,1018
26,Tohana,29.7128,75.9192,103,52,103,622,5,10,15,12,14,24,1018

In [102]:
#haryana.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\haryana.csv',index=False)

In [ ]:
#

In [104]:
jharkhand_cities = {
    "areas": [
        "Ranchi", "Jamshedpur", "Dhanbad", "Bokaro", "Hazaribagh",
        "Deoghar", "Giridih", "Ramgarh", "Chaibasa", "Gumla",
        "Lohardaga", "Simdega", "Khunti", "Dumka", "Godda",
        "Palamu", "Chatra", "Latehar", "Pakur", "Sahibganj",
        "Garhwa", "Saraikela", "Kodarma", "Chakradharpur", "Jamtara",
        "Chandil", "Mango"
    ],
    "lat": [
        23.3441, 22.8046, 23.7957, 23.6693, 23.9958,
        24.4826, 24.1880, 23.6302, 22.5708, 23.0424,
        23.4356, 22.6159, 23.0722, 24.2672, 24.8255,
        24.1030, 24.2031, 23.7420, 24.6359, 25.2435,
        24.1621, 22.7467, 24.4735, 22.6770, 23.9638,
        22.9203, 22.8600
    ],
    "long": [
        85.3096, 86.2029, 86.4304, 85.4362, 85.3619,
        86.6960, 86.3107, 85.5167, 85.8264, 84.5403,
        84.6776, 84.5022, 85.2803, 87.2497, 87.2179,
        84.1165, 84.8704, 84.4049, 87.8498, 87.6355,
        83.8056, 85.9490, 85.6051, 85.6283, 86.4941,
        86.0478, 86.0111
    ]
}

# Convert the dictionary to a DataFrame
jharkhand = pd.DataFrame(jharkhand_cities)
jharkhand

            areas      lat     long
0          Ranchi  23.3441  85.3096
1      Jamshedpur  22.8046  86.2029
2         Dhanbad  23.7957  86.4304
3          Bokaro  23.6693  85.4362
4      Hazaribagh  23.9958  85.3619
5         Deoghar  24.4826  86.6960
6         Giridih  24.1880  86.3107
7         Ramgarh  23.6302  85.5167
8        Chaibasa  22.5708  85.8264
9           Gumla  23.0424  84.5403
10      Lohardaga  23.4356  84.6776
11        Simdega  22.6159  84.5022
12         Khunti  23.0722  85.2803
13          Dumka  24.2672  87.2497
14          Godda  24.8255  87.2179
15         Palamu  24.1030  84.1165
16         Chatra  24.2031  84.8704
17        Latehar  23.7420  84.4049
18          Pakur  24.6359  87.8498
19      Sahibganj  25.2435  87.6355
20         Garhwa  24.1621  83.8056
21      Saraikela  22.7467  85.9490
22        Kodarma  24.4735  85.6051
23  Chakradharpur  22.6770  85.6283
24        Jamtara  23.9638  86.4941
25        Chandil  22.9203  86.0478
26          Mango  22.8600  86.0111

In [105]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(jharkhand['lat'],jharkhand['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
jharkhand['AQI']=aqi
jharkhand['pm2.5']=pm2
jharkhand['pm10']=pm10
jharkhand['co']=co
jharkhand['so2']=so2
jharkhand['no2']=no2
jharkhand['o3']=o3

In [106]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(jharkhand['lat'],jharkhand['long']):
    url = "https://api.weatherstack.com/current?access_key=d32788f076c1df84126c1632196fef18"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
jharkhand['temperature']=temperature
jharkhand['wind_speed']=wind_speed
jharkhand['humdity']=humdity
jharkhand['pressure']=pressure

In [107]:
jharkhand

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Ranchi,23.3441,85.3096,298,120,210,1735,4,22,9,13,11,51,1019
1,Jamshedpur,22.8046,86.2029,200,90,200,1216,4,29,9,15,4,26,1016
2,Dhanbad,23.7957,86.4304,139,62,158,498,5,9,9,15,8,23,1016
3,Bokaro,23.6693,85.4362,298,120,210,1735,4,22,9,13,8,51,1019
4,Hazaribagh,23.9958,85.3619,298,120,210,1735,4,22,9,10,8,29,1018
5,Deoghar,24.4826,86.6960,139,62,158,498,5,9,9,14,9,25,1017
6,Giridih,24.1880,86.3107,139,62,158,498,5,9,9,13,12,24,1017
7,Ramgarh,23.6302,85.5167,298,120,210,1735,4,22,9,13,11,51,1019
8,Chaibasa,22.5708,85.8264,242,103,190,759,3,19,7,14,5,35,1016
9,Gumla,23.0424,84.5403,298,120,210,1735,4,22,9,12,8,29,1017
10,Lohardaga,23.4356,84.6776,298,120,210,1735,4,22,9,11,7,28,1018
11,Simdega,22.6159,84.5022,149,75,138,888,11,19,8,13,6,37,1016
12,Khunti,23.0722,85.2803,298,120,210,1735,4,22,9,13,11,51,1019
13,Dumka,24.2672,87.2497,221,96,228,1002,4,15,6,13,8,30,1016
14,Godda,24.8255,87.2179,223,97,156,824,5,8,10,NaN,NaN,NaN,NaN
15,Palamu,24.1030,84.1165,188,86,160,645,8,10,9,NaN,NaN,NaN,NaN
16,Chatra,24.2031,84.8704,247,104,197,889,3,10,13,NaN,NaN,NaN,NaN
17,Latehar,23.7420,84.4049,188,86,160,645,8,10,9,NaN,NaN,NaN,NaN
18,Pakur,24.6359,87.8498,307,129,265,1328,4,12,7,NaN,NaN,NaN,NaN
19,Sahibganj,25.2435,87.6355,242,103,230,970,4,10,8,NaN,NaN,NaN,NaN
20,Garhwa,24.1621,83.8056,188,86,160,645,8,10,9,NaN,NaN,NaN,NaN
21,Saraikela,22.7467,85.9490,200,90,200,1216,4,29,9,NaN,NaN,NaN,NaN
22,Kodarma,24.4735,85.6051,184,82,175,493,4,5,11,NaN,NaN,NaN,NaN
23,Chakradharpur,22.6770,85.6283,242,103,190,759,3,19,7,NaN,NaN,NaN,NaN
24,Jamtara,23.9638,86.4941,139,62,158,498,5,9,9,NaN,NaN,NaN,NaN
25,Chandil,22.9203,86.0478,200,90,200,1216,4,29,9,NaN,NaN,NaN,NaN
26,Mango,22.8600,86.0111,200,90,200,1216,4,29,9,NaN,NaN,NaN,NaN

In [108]:
#jharkhand.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\jharkhand.csv',index=False)

# rajasthan

In [109]:
rajasthan_cities = {
    "areas": [
        "Jaipur", "Jodhpur", "Udaipur", "Kota", "Ajmer",
        "Bikaner", "Alwar", "Bharatpur", "Sri Ganganagar", "Pali",
        "Barmer", "Jaisalmer", "Bhilwara", "Sikar", "Nagaur",
        "Tonk", "Chittorgarh", "Bundi", "Dausa", "Jhunjhunu",
        "Churu", "Hanumangarh", "Karauli", "Pratapgarh", "Sawai Madhopur",
        "Dholpur", "Rajsamand", "Jhalawar", "Banswara", "Dungarpur"
    ],
    "lat": [
        26.9124, 26.2389, 24.5854, 25.2138, 26.4499,
        28.0229, 27.5646, 27.2173, 29.9038, 25.7711,
        25.7457, 26.9157, 25.3464, 27.6094, 27.2020,
        26.1664, 24.8887, 25.4448, 26.8912, 28.1256,
        28.2927, 29.5800, 26.4977, 24.0300, 26.0230,
        26.7025, 25.0631, 24.5968, 23.5460, 23.8431
    ],
    "long": [
        75.7873, 73.0243, 73.7125, 75.7885, 74.6399,
        73.3119, 76.6251, 77.4910, 73.8772, 73.3311,
        71.3927, 70.9167, 74.6391, 75.1390, 73.6808,
        75.7897, 74.6269, 75.6462, 76.3311, 75.3998,
        74.9590, 74.3294, 77.0142, 74.7812, 76.3662,
        77.9060, 73.8798, 76.1615, 74.4418, 73.7147
    ]
}

# Convert the dictionary to a DataFrame
rajasthan = pd.DataFrame(rajasthan_cities)
rajasthan

             areas      lat     long
0           Jaipur  26.9124  75.7873
1          Jodhpur  26.2389  73.0243
2          Udaipur  24.5854  73.7125
3             Kota  25.2138  75.7885
4            Ajmer  26.4499  74.6399
5          Bikaner  28.0229  73.3119
6            Alwar  27.5646  76.6251
7        Bharatpur  27.2173  77.4910
8   Sri Ganganagar  29.9038  73.8772
9             Pali  25.7711  73.3311
10          Barmer  25.7457  71.3927
11       Jaisalmer  26.9157  70.9167
12        Bhilwara  25.3464  74.6391
13           Sikar  27.6094  75.1390
14          Nagaur  27.2020  73.6808
15            Tonk  26.1664  75.7897
16     Chittorgarh  24.8887  74.6269
17           Bundi  25.4448  75.6462
18           Dausa  26.8912  76.3311
19       Jhunjhunu  28.1256  75.3998
20           Churu  28.2927  74.9590
21     Hanumangarh  29.5800  74.3294
22         Karauli  26.4977  77.0142
23      Pratapgarh  24.0300  74.7812
24  Sawai Madhopur  26.0230  76.3662
25         Dholpur  26.7025  77.9060
26       Rajsamand  25.0631  73.8798
27        Jhalawar  24.5968  76.1615
28        Banswara  23.5460  74.4418
29       Dungarpur  23.8431  73.7147

In [110]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(rajasthan['lat'],rajasthan['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
rajasthan['AQI']=aqi
rajasthan['pm2.5']=pm2
rajasthan['pm10']=pm10
rajasthan['co']=co
rajasthan['so2']=so2
rajasthan['no2']=no2
rajasthan['o3']=o3

In [113]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(rajasthan['lat'],rajasthan['long']):
    url = "https://api.weatherstack.com/current?access_key=9a21f0ec448af242dc2eebf8b6033ae0"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
rajasthan['temperature']=temperature
rajasthan['wind_speed']=wind_speed
rajasthan['humdity']=humdity
rajasthan['pressure']=pressure

In [114]:
rajasthan

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Jaipur,26.9124,75.7873,202,92,178,1060,4,21,11,12,12,44,1020
1,Jodhpur,26.2389,73.0243,146,64,150,739,4,15,11,14,17,15,1020
2,Udaipur,24.5854,73.7125,200,91,176,1423,4,18,11,10,10,28,1019
3,Kota,25.2138,75.7885,150,73,174,978,4,24,11,13,6,26,1019
4,Ajmer,26.4499,74.6399,106,49,110,795,2,14,12,11,11,19,1020
5,Bikaner,28.0229,73.3119,139,67,156,967,3,15,12,12,9,16,1020
6,Alwar,27.5646,76.6251,90,48,91,643,5,12,17,11,10,23,1019
7,Bharatpur,27.2173,77.4910,98,46,104,652,6,12,8,11,14,23,1018
8,Sri Ganganagar,29.9038,73.8772,80,26,80,550,5,8,23,12,12,19,1020
9,Pali,25.7711,73.3311,112,52,117,402,4,12,10,13,14,18,1019
10,Barmer,25.7457,71.3927,87,33,87,210,3,11,9,14,15,15,1019
11,Jaisalmer,26.9157,70.9167,90,44,90,525,4,16,18,15,15,16,1020
12,Bhilwara,25.3464,74.6391,101,52,101,615,5,10,13,11,9,23,1020
13,Sikar,27.6094,75.1390,103,54,105,572,4,11,22,9,9,25,1020
14,Nagaur,27.2020,73.6808,139,67,156,967,3,15,12,12,13,17,1020
15,Tonk,26.1664,75.7897,105,50,108,512,5,15,13,11,11,20,1019
16,Chittorgarh,24.8887,74.6269,111,55,116,590,5,10,14,11,7,26,1020
17,Bundi,25.4448,75.6462,150,73,174,978,4,24,11,12,6,23,1019
18,Dausa,26.8912,76.3311,202,92,178,1060,4,21,11,12,8,44,1020
19,Jhunjhunu,28.1256,75.3998,100,52,100,627,4,10,28,11,12,20,1020
20,Churu,28.2927,74.9590,100,52,100,627,4,10,28,12,14,15,1020
21,Hanumangarh,29.5800,74.3294,80,27,80,540,5,9,22,12,12,18,1020
22,Karauli,26.4977,77.0142,108,41,112,538,5,9,7,12,9,21,1019
23,Pratapgarh,24.0300,74.7812,109,48,113,713,4,14,16,12,11,32,1019
24,Sawai Madhopur,26.0230,76.3662,105,50,108,512,5,15,13,11,6,25,1019
25,Dholpur,26.7025,77.9060,93,25,94,235,4,9,10,11,13,25,1018
26,Rajsamand,25.0631,73.8798,209,93,190,1459,4,21,11,11,7,25,1020
27,Jhalawar,24.5968,76.1615,171,80,168,959,4,20,11,13,4,28,1019
28,Banswara,23.5460,74.4418,121,66,104,797,5,16,16,15,12,29,1018
29,Dungarpur,23.8431,73.7147,115,47,122,432,4,15,12,13,13,26,1018

In [115]:
#rajasthan.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\rajasthan.csv',index=False)

# uttar_pradesh

In [122]:
# Uttar Pradesh cities with latitude and longitude (30+ areas)
uttar_pradesh_cities = {
    "areas": [
        "Lucknow", "Kanpur", "Varanasi", "Agra", "Meerut", 
        "Prayagraj", "Noida", "Ghaziabad", "Bareilly", "Aligarh", 
        "Moradabad", "Saharanpur", "Gorakhpur", "Jhansi", "Firozabad", 
        "Muzaffarnagar", "Mathura", "Rampur", "Shahjahanpur", "Faizabad", 
        "Raebareli", "Hapur", "Ballia", "Etawah", "Budaun", 
        "Pilibhit", "Fatehpur", "Sitapur", "Gonda", "Bahraich", 
        "Mirzapur", "Lakhimpur", "Jaunpur", "Deoria", "Bijnor", 
        "Mainpuri", "Barabanki", "Unnao", "Ambedkar Nagar", "Etah", 
        "Amroha", "Kasganj", "Farrukhabad", "Hardoi", "Sultanpur", 
        "Chandauli", "Mau", "Azamgarh", "Siddharthnagar", "Basti"
    ],
    "lat": [
        26.8467, 26.4499, 25.3176, 27.1767, 28.9845, 
        25.4358, 28.5355, 28.6692, 28.3670, 27.8800, 
        28.8386, 30.1540, 26.7606, 25.4484, 27.1591, 
        29.4727, 27.4924, 28.8154, 27.8815, 26.7755, 
        26.2303, 28.7306, 25.7580, 26.7788, 28.0381, 
        28.6312, 25.9260, 27.5700, 27.1313, 27.5743, 
        25.1449, 26.0719, 26.5012, 29.3726, 27.2184, 
        26.9386, 26.5471, 26.4326, 27.5635, 28.9032, 
        27.3823, 27.3977, 27.3943, 26.2501, 25.2736, 
        26.2618, 26.0621, 26.7504, 27.2741, 26.8235
    ],
    "long": [
        80.9462, 80.3319, 82.9739, 78.0081, 77.7064, 
        81.8463, 77.3910, 77.4538, 79.4304, 78.0806, 
        78.7733, 77.5696, 83.3732, 78.5696, 78.3958, 
        77.7064, 77.6737, 79.0268, 79.9120, 82.1459, 
        81.2407, 77.7764, 84.1484, 79.0216, 79.1212, 
        79.8030, 80.8150, 80.6771, 81.5919, 81.6016, 
        82.5875, 82.6835, 83.7791, 78.1361, 79.0451, 
        81.1860, 80.4870, 82.4244, 78.6370, 78.0467, 
        78.0806, 79.5795, 79.8343, 80.5073, 82.1433, 
        83.2622, 83.5617, 83.2114, 83.0575, 82.7385
    ]
}

# Convert the dictionary to a DataFrame
uttar_pradesh = pd.DataFrame(uttar_pradesh_cities)
uttar_pradesh

             areas      lat     long
0          Lucknow  26.8467  80.9462
1           Kanpur  26.4499  80.3319
2         Varanasi  25.3176  82.9739
3             Agra  27.1767  78.0081
4           Meerut  28.9845  77.7064
5        Prayagraj  25.4358  81.8463
6            Noida  28.5355  77.3910
7        Ghaziabad  28.6692  77.4538
8         Bareilly  28.3670  79.4304
9          Aligarh  27.8800  78.0806
10       Moradabad  28.8386  78.7733
11      Saharanpur  30.1540  77.5696
12       Gorakhpur  26.7606  83.3732
13          Jhansi  25.4484  78.5696
14       Firozabad  27.1591  78.3958
15   Muzaffarnagar  29.4727  77.7064
16         Mathura  27.4924  77.6737
17          Rampur  28.8154  79.0268
18    Shahjahanpur  27.8815  79.9120
19        Faizabad  26.7755  82.1459
20       Raebareli  26.2303  81.2407
21           Hapur  28.7306  77.7764
22          Ballia  25.7580  84.1484
23          Etawah  26.7788  79.0216
24          Budaun  28.0381  79.1212
25        Pilibhit  28.6312  79.8030
26        Fatehpur  25.9260  80.8150
27         Sitapur  27.5700  80.6771
28           Gonda  27.1313  81.5919
29        Bahraich  27.5743  81.6016
30        Mirzapur  25.1449  82.5875
31       Lakhimpur  26.0719  82.6835
32         Jaunpur  26.5012  83.7791
33          Deoria  29.3726  78.1361
34          Bijnor  27.2184  79.0451
35        Mainpuri  26.9386  81.1860
36       Barabanki  26.5471  80.4870
37           Unnao  26.4326  82.4244
38  Ambedkar Nagar  27.5635  78.6370
39            Etah  28.9032  78.0467
40          Amroha  27.3823  78.0806
41         Kasganj  27.3977  79.5795
42     Farrukhabad  27.3943  79.8343
43          Hardoi  26.2501  80.5073
44       Sultanpur  25.2736  82.1433
45       Chandauli  26.2618  83.2622
46             Mau  26.0621  83.5617
47        Azamgarh  26.7504  83.2114
48  Siddharthnagar  27.2741  83.0575
49           Basti  26.8235  82.7385

In [123]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(uttar_pradesh['lat'],uttar_pradesh['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
uttar_pradesh['AQI']=aqi
uttar_pradesh['pm2.5']=pm2
uttar_pradesh['pm10']=pm10
uttar_pradesh['co']=co
uttar_pradesh['so2']=so2
uttar_pradesh['no2']=no2
uttar_pradesh['o3']=o3

In [124]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(uttar_pradesh['lat'],uttar_pradesh['long']):
    url = "https://api.weatherstack.com/current?access_key=84b8acf97d9d54b01dce25bd2f1b902c"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
uttar_pradesh['temperature']=temperature
uttar_pradesh['wind_speed']=wind_speed
uttar_pradesh['humdity']=humdity
uttar_pradesh['pressure']=pressure

In [128]:
uttar_pradesh.head()

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Lucknow,26.8467,80.9462,134,60,148,645,4,7,11,13,12,26,1017
1,Kanpur,26.4499,80.3319,101,46,103,570,5,9,8,12,13,28,1017
2,Varanasi,25.3176,82.9739,74,35,74,597,9,10,6,12,13,30,1017
3,Agra,27.1767,78.0081,95,36,96,336,4,8,9,12,13,23,1018
4,Meerut,28.9845,77.7064,130,61,146,698,4,20,16,14,15,20,1017

In [126]:
#uttar_pradesh.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\uttar_pradesh.csv',index=False)

# west_bengal

In [127]:
west_bengal_cities = {
    "areas": [
        "Kolkata", "Darjeeling", "Siliguri", "Howrah", "Durgapur",
        "Asansol", "Kharagpur", "Haldia", "Bardhaman", "Kalimpong",
        "Bankura", "Malda", "Cooch Behar", "Jalpaiguri", "Alipurduar",
        "Medinipur", "Tamluk", "Raiganj", "Balurghat", "Murshidabad",
        "Berhampore", "Chinsurah", "Serampore", "Kalyani", "Habra"
    ],
    "lat": [
        22.5726, 27.0410, 26.7271, 22.5769, 23.5204,
        23.6833, 22.3460, 22.0667, 23.2324, 27.0574,
        23.2321, 25.0061, 26.3239, 26.5166, 26.4918,
        22.4247, 22.3000, 25.6167, 25.2214, 24.1759,
        24.0958, 22.8956, 22.7500, 22.9752, 22.8422
    ],
    "long": [
        88.3639, 88.2630, 88.4285, 88.3250, 87.3119,
        86.9937, 87.2477, 88.0698, 87.8484, 88.4714,
        87.0646, 88.1411, 89.4451, 88.7196, 89.5275,
        87.3199, 87.9156, 88.1240, 88.7776, 88.2674,
        88.2636, 88.3903, 88.3422, 88.4345, 88.6561
    ]
}

# Convert the dictionary to a DataFrame
west_bengal = pd.DataFrame(west_bengal_cities)
west_bengal

          areas      lat     long
0       Kolkata  22.5726  88.3639
1    Darjeeling  27.0410  88.2630
2      Siliguri  26.7271  88.4285
3        Howrah  22.5769  88.3250
4      Durgapur  23.5204  87.3119
5       Asansol  23.6833  86.9937
6     Kharagpur  22.3460  87.2477
7        Haldia  22.0667  88.0698
8     Bardhaman  23.2324  87.8484
9     Kalimpong  27.0574  88.4714
10      Bankura  23.2321  87.0646
11        Malda  25.0061  88.1411
12  Cooch Behar  26.3239  89.4451
13   Jalpaiguri  26.5166  88.7196
14   Alipurduar  26.4918  89.5275
15    Medinipur  22.4247  87.3199
16       Tamluk  22.3000  87.9156
17      Raiganj  25.6167  88.1240
18    Balurghat  25.2214  88.7776
19  Murshidabad  24.1759  88.2674
20   Berhampore  24.0958  88.2636
21    Chinsurah  22.8956  88.3903
22    Serampore  22.7500  88.3422
23      Kalyani  22.9752  88.4345
24        Habra  22.8422  88.6561

In [129]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(west_bengal['lat'],west_bengal['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
west_bengal['AQI']=aqi
west_bengal['pm2.5']=pm2
west_bengal['pm10']=pm10
west_bengal['co']=co
west_bengal['so2']=so2
west_bengal['no2']=no2
west_bengal['o3']=o3

In [130]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(west_bengal['lat'],west_bengal['long']):
    url = "https://api.weatherstack.com/current?access_key=84b8acf97d9d54b01dce25bd2f1b902c"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
west_bengal['temperature']=temperature
west_bengal['wind_speed']=wind_speed
west_bengal['humdity']=humdity
west_bengal['pressure']=pressure

In [131]:
west_bengal

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Kolkata,22.5726,88.3639,322,153,266,1662,4,26,8,16,13,72,1015
1,Darjeeling,27.0410,88.2630,86,27,86,511,2,10,11,10,9,73,1018
2,Siliguri,26.7271,88.4285,216,94,238,1257,3,7,7,14,8,63,1016
3,Howrah,22.5769,88.3250,337,169,278,1043,3,30,10,16,13,72,1015
4,Durgapur,23.5204,87.3119,252,104,232,891,6,16,3,16,11,27,1016
5,Asansol,23.6833,86.9937,256,106,245,984,3,19,7,13,12,25,1016
6,Kharagpur,22.3460,87.2477,282,116,282,1053,6,32,6,16,11,28,1015
7,Haldia,22.0667,88.0698,319,145,313,2324,5,32,5,18,12,29,1015
8,Bardhaman,23.2324,87.8484,210,93,202,854,7,7,9,15,13,34,1015
9,Kalimpong,27.0574,88.4714,86,27,86,511,2,10,11,9,9,71,1018
10,Bankura,23.2321,87.0646,259,108,190,995,5,5,6,14,12,27,1016
11,Malda,25.0061,88.1411,306,128,186,1011,10,14,7,14,11,39,1015
12,Cooch Behar,26.3239,89.4451,272,111,223,1130,4,6,6,16,6,61,1015
13,Jalpaiguri,26.5166,88.7196,179,79,218,1159,5,13,6,16,5,61,1015
14,Alipurduar,26.4918,89.5275,272,111,223,1130,4,6,6,16,5,61,1015
15,Medinipur,22.4247,87.3199,318,143,315,1052,6,32,6,15,13,33,1015
16,Tamluk,22.3000,87.9156,316,141,273,1910,5,29,6,15,13,33,1015
17,Raiganj,25.6167,88.1240,284,115,216,962,3,10,7,14,11,45,1015
18,Balurghat,25.2214,88.7776,309,132,179,1013,6,16,8,15,10,41,1015
19,Murshidabad,24.1759,88.2674,301,121,194,843,10,18,7,16,12,35,1016
20,Berhampore,24.0958,88.2636,301,121,194,843,10,18,7,16,12,35,1016
21,Chinsurah,22.8956,88.3903,374,217,271,1410,3,17,10,16,13,72,1015
22,Serampore,22.7500,88.3422,382,227,255,1225,4,25,10,16,13,72,1015
23,Kalyani,22.9752,88.4345,350,185,232,1439,3,21,7,16,14,72,1015
24,Habra,22.8422,88.6561,331,161,227,1847,5,25,6,16,13,72,1015

In [132]:
#west_bengal.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\west_bengal.csv',index=False)

In [ ]:
#

In [133]:
jammu_kashmir_cities = {
    "areas": [
        "Srinagar", "Jammu", "Leh", "Anantnag", "Baramulla", 
        "Udhampur", "Pulwama", "Kupwara", "Kulgam", "Poonch"
    ],
    "lat": [
        34.0837, 32.7266, 34.1526, 33.7357, 34.1990, 
        32.9248, 33.8743, 34.5324, 33.6445, 33.7670
    ],
    "long": [
        74.7973, 74.8570, 77.5770, 75.1517, 74.3639, 
        75.1416, 74.8994, 74.2645, 75.0183, 74.0928
    ]
}

# Convert the dictionary to a DataFrame
jammu_kashmir = pd.DataFrame(jammu_kashmir_cities)
jammu_kashmir

       areas      lat     long
0   Srinagar  34.0837  74.7973
1      Jammu  32.7266  74.8570
2        Leh  34.1526  77.5770
3   Anantnag  33.7357  75.1517
4  Baramulla  34.1990  74.3639
5   Udhampur  32.9248  75.1416
6    Pulwama  33.8743  74.8994
7    Kupwara  34.5324  74.2645
8     Kulgam  33.6445  75.0183
9     Poonch  33.7670  74.0928

In [134]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(jammu_kashmir['lat'],jammu_kashmir['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
jammu_kashmir['AQI']=aqi
jammu_kashmir['pm2.5']=pm2
jammu_kashmir['pm10']=pm10
jammu_kashmir['co']=co
jammu_kashmir['so2']=so2
jammu_kashmir['no2']=no2
jammu_kashmir['o3']=o3

In [135]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(jammu_kashmir['lat'],jammu_kashmir['long']):
    url = "https://api.weatherstack.com/current?access_key=84b8acf97d9d54b01dce25bd2f1b902c"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
jammu_kashmir['temperature']=temperature
jammu_kashmir['wind_speed']=wind_speed
jammu_kashmir['humdity']=humdity
jammu_kashmir['pressure']=pressure

In [140]:
jammu_kashmir

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Srinagar,34.0837,74.7973,86,36,86,784,4,16,8,1,4,31,1031
1,Jammu,32.7266,74.8570,136,71,118,831,5,9,16,-1,6,21,1018
2,Leh,34.1526,77.5770,64,26,64,724,4,12,12,0,6,34,1037
3,Anantnag,33.7357,75.1517,93,29,93,711,3,12,16,2,4,28,1031
4,Baramulla,34.1990,74.3639,90,36,90,732,4,13,12,3,5,55,1033
5,Udhampur,32.9248,75.1416,119,66,113,809,4,15,18,2,17,20,1024
6,Pulwama,33.8743,74.8994,86,36,86,784,4,16,8,2,4,31,1031
7,Kupwara,34.5324,74.2645,90,31,90,683,4,13,14,1,6,46,1033
8,Kulgam,33.6445,75.0183,93,29,93,711,3,12,16,0,4,25,1030
9,Poonch,33.7670,74.0928,99,37,99,822,5,15,13,0,15,26,1024

In [141]:
#jammu_kashmir.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\jammu_kashmir.csv',index=False)

# sikkim

In [142]:
sikkim_cities = {
    "areas": [
        "Gangtok", "Namchi", "Pelling", "Gyalshing", "Mangan", 
        "Ravangla", "Jorethang", "Rangpo", "Singtam", "Yuksom", 
        "Chungthang", "Soreng", "Kaluk", "Dzongu", "Pakyong"
    ],
    "lat": [
        27.3314, 27.1548, 27.3193, 27.2963, 27.5250, 
        27.2819, 27.1893, 27.1767, 27.2342, 27.3810, 
        27.5883, 27.2507, 27.2921, 27.5527, 27.2329
    ],
    "long": [
        88.6168, 88.4814, 88.2414, 88.2603, 88.5305, 
        88.3496, 88.3138, 88.5322, 88.4977, 88.2221, 
        88.6915, 88.2966, 88.3044, 88.5737, 88.5903
    ]
}

# Convert the dictionary to a DataFrame
sikkim_cities = pd.DataFrame(sikkim_cities)
sikkim_cities

         areas      lat     long
0      Gangtok  27.3314  88.6168
1       Namchi  27.1548  88.4814
2      Pelling  27.3193  88.2414
3    Gyalshing  27.2963  88.2603
4       Mangan  27.5250  88.5305
5     Ravangla  27.2819  88.3496
6    Jorethang  27.1893  88.3138
7       Rangpo  27.1767  88.5322
8      Singtam  27.2342  88.4977
9       Yuksom  27.3810  88.2221
10  Chungthang  27.5883  88.6915
11      Soreng  27.2507  88.2966
12       Kaluk  27.2921  88.3044
13      Dzongu  27.5527  88.5737
14     Pakyong  27.2329  88.5903

In [143]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(sikkim_cities['lat'],sikkim_cities['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
sikkim_cities['AQI']=aqi
sikkim_cities['pm2.5']=pm2
sikkim_cities['pm10']=pm10
sikkim_cities['co']=co
sikkim_cities['so2']=so2
sikkim_cities['no2']=no2
sikkim_cities['o3']=o3

In [144]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(sikkim_cities['lat'],sikkim_cities['long']):
    url = "https://api.weatherstack.com/current?access_key=84b8acf97d9d54b01dce25bd2f1b902c"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
sikkim_cities['temperature']=temperature
sikkim_cities['wind_speed']=wind_speed
sikkim_cities['humdity']=humdity
sikkim_cities['pressure']=pressure

In [146]:
sikkim_cities

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Gangtok,27.3314,88.6168,73,39,73,691,2,10,11,6,8,56,1019
1,Namchi,27.1548,88.4814,73,39,73,691,2,10,11,9,9,74,1018
2,Pelling,27.3193,88.2414,100,29,100,750,2,16,10,11,9,77,1018
3,Gyalshing,27.2963,88.2603,100,29,100,750,2,16,10,11,9,77,1018
4,Mangan,27.5250,88.5305,73,39,73,691,2,10,11,6,8,56,1019
5,Ravangla,27.2819,88.3496,73,39,73,691,2,10,11,9,9,74,1018
6,Jorethang,27.1893,88.3138,100,29,100,750,2,16,10,10,9,73,1018
7,Rangpo,27.1767,88.5322,73,39,73,691,2,10,11,9,9,71,1018
8,Singtam,27.2342,88.4977,73,39,73,691,2,10,11,6,8,56,1019
9,Yuksom,27.3810,88.2221,73,39,73,691,2,10,11,10,9,73,1018
10,Chungthang,27.5883,88.6915,73,39,73,691,2,10,11,6,8,56,1019
11,Soreng,27.2507,88.2966,100,29,100,750,2,16,10,10,9,73,1018
12,Kaluk,27.2921,88.3044,100,29,100,750,2,16,10,9,9,71,1018
13,Dzongu,27.5527,88.5737,73,39,73,691,2,10,11,6,8,56,1019
14,Pakyong,27.2329,88.5903,73,39,73,691,2,10,11,6,7,58,1019

In [147]:
#sikkim_cities.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\sikkim_cities.csv',index=False)

# Chhattisgarh

In [152]:
chhattisgarh_cities = {
    "areas": [
        "Raipur", "Bilaspur", "Durg", "Korba", "Bhilai", 
        "Jagdalpur", "Rajnandgaon", "Raigarh", "Ambikapur", "Dhamtari", 
        "Mahasamund", "Kanker", "Kawardha", "Bijapur", "Narayanpur", 
        "Bemetara", "Balod", "Baloda Bazar", "Janakpur", "Chirmiri"
    ],
    "lat": [
        21.2514, 22.0797, 21.1832, 22.3598, 21.1938, 
        19.0748, 21.1000, 21.8956, 23.1267, 20.7074, 
        21.1082, 20.2719, 22.0243, 18.7999, 20.4711, 
        21.7071, 20.7283, 21.6565, 22.9260, 23.1958
    ],
    "long": [
        81.6296, 82.1391, 81.2838, 82.7378, 81.3800, 
        82.0291, 81.0304, 83.3970, 83.1987, 81.5477, 
        82.0982, 81.4917, 81.2322, 80.4234, 81.2538, 
        81.5337, 81.2046, 82.1702, 83.6603, 82.3431
    ]
}

# Convert the dictionary to a DataFrame
chhattisgarh = pd.DataFrame(chhattisgarh_cities)
chhattisgarh

           areas      lat     long
0         Raipur  21.2514  81.6296
1       Bilaspur  22.0797  82.1391
2           Durg  21.1832  81.2838
3          Korba  22.3598  82.7378
4         Bhilai  21.1938  81.3800
5      Jagdalpur  19.0748  82.0291
6    Rajnandgaon  21.1000  81.0304
7        Raigarh  21.8956  83.3970
8      Ambikapur  23.1267  83.1987
9       Dhamtari  20.7074  81.5477
10    Mahasamund  21.1082  82.0982
11        Kanker  20.2719  81.4917
12      Kawardha  22.0243  81.2322
13       Bijapur  18.7999  80.4234
14    Narayanpur  20.4711  81.2538
15      Bemetara  21.7071  81.5337
16         Balod  20.7283  81.2046
17  Baloda Bazar  21.6565  82.1702
18      Janakpur  22.9260  83.6603
19      Chirmiri  23.1958  82.3431

In [153]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(chhattisgarh['lat'],chhattisgarh['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
chhattisgarh['AQI']=aqi
chhattisgarh['pm2.5']=pm2
chhattisgarh['pm10']=pm10
chhattisgarh['co']=co
chhattisgarh['so2']=so2
chhattisgarh['no2']=no2
chhattisgarh['o3']=o3

In [154]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(chhattisgarh['lat'],chhattisgarh['long']):
    url = "https://api.weatherstack.com/current?access_key=84b8acf97d9d54b01dce25bd2f1b902c"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
chhattisgarh['temperature']=temperature
chhattisgarh['wind_speed']=wind_speed
chhattisgarh['humdity']=humdity
chhattisgarh['pressure']=pressure

In [155]:
chhattisgarh

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Raipur,21.2514,81.6296,235,100,213,1233,6,15,15,NaN,NaN,NaN,NaN
1,Bilaspur,22.0797,82.1391,114,49,121,805,5,15,12,NaN,NaN,NaN,NaN
2,Durg,21.1832,81.2838,303,124,254,1196,5,14,6,NaN,NaN,NaN,NaN
3,Korba,22.3598,82.7378,114,49,121,805,5,15,12,NaN,NaN,NaN,NaN
4,Bhilai,21.1938,81.3800,303,124,235,1147,5,9,9,NaN,NaN,NaN,NaN
5,Jagdalpur,19.0748,82.0291,150,75,135,805,5,5,5,NaN,NaN,NaN,NaN
6,Rajnandgaon,21.1000,81.0304,303,124,254,1196,5,14,6,NaN,NaN,NaN,NaN
7,Raigarh,21.8956,83.3970,114,52,121,680,5,6,8,NaN,NaN,NaN,NaN
8,Ambikapur,23.1267,83.1987,104,45,107,636,4,5,9,NaN,NaN,NaN,NaN
9,Dhamtari,20.7074,81.5477,303,124,235,1147,5,9,9,NaN,NaN,NaN,NaN
10,Mahasamund,21.1082,82.0982,235,100,213,1233,6,15,15,NaN,NaN,NaN,NaN
11,Kanker,20.2719,81.4917,303,124,235,1147,5,9,9,NaN,NaN,NaN,NaN
12,Kawardha,22.0243,81.2322,114,49,121,805,5,15,12,NaN,NaN,NaN,NaN
13,Bijapur,18.7999,80.4234,101,40,102,592,5,12,8,NaN,NaN,NaN,NaN
14,Narayanpur,20.4711,81.2538,303,124,254,1196,5,14,6,NaN,NaN,NaN,NaN
15,Bemetara,21.7071,81.5337,235,100,213,1233,6,15,15,NaN,NaN,NaN,NaN
16,Balod,20.7283,81.2046,303,124,254,1196,5,14,6,NaN,NaN,NaN,NaN
17,Baloda Bazar,21.6565,82.1702,114,49,121,805,5,15,12,NaN,NaN,NaN,NaN
18,Janakpur,22.9260,83.6603,114,52,121,680,5,6,8,NaN,NaN,NaN,NaN
19,Chirmiri,23.1958,82.3431,139,69,158,807,2,11,7,NaN,NaN,NaN,NaN

In [157]:
#chhattisgarh.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\chhattisgarh.csv',index=False)

# Checking all the rows

In [12]:
import os

In [23]:
for i in os.listdir(r'E:\Innomatics\EDA PROJECT\dataset'):
    print(i)

andhra_pradesh.csv
arunachal_pradesh.csv
assam.csv
chhattisgarh.csv
delhi.csv
goa.csv
haryana.csv
jammu_kashmir.csv
jharkhand.csv
karnataka.csv
kerala.csv
madhya_pradesh.csv
maharashtra.csv
meghalaya.csv
mizoram.csv
odisha.csv
rajasthan.csv
sikkim_cities.csv
telangana.csv
uttarakhand.csv
uttar_pradesh.csv
west_bengal.csv

In [25]:
df1=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\andhra_pradesh.csv')
df2=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\arunachal_pradesh.csv')
df3=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\assam.csv')
df4=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\chhattisgarh.csv')
df5=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\delhi.csv')
df6=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\goa.csv')
df7=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\haryana.csv')
df8=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\jammu_kashmir.csv')
df9=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\jharkhand.csv')
df10=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\karnataka.csv')
df11=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\kerala.csv')
df12=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\madhya_pradesh.csv')
df13=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\maharashtra.csv')
df14=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\odisha.csv')
df15=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\rajasthan.csv')
df16=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\sikkim_cities.csv')
df17=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\telangana.csv')
df18=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\uttar_pradesh.csv')
df19=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\west_bengal.csv')
df20=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\meghalaya.csv')
df21=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\uttarakhand.csv')
df22=pd.read_csv(r'E:\Innomatics\EDA PROJECT\dataset\mizoram.csv')

In [26]:
d=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22])

In [27]:
d

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure,state
0,Visakhapatnam,17.6868,83.2185,203,91,164,1147,6,11,7,23.0,10.0,68.0,1013.0,NaN
1,Vijayawada,16.5062,80.6480,102,48,104,490,4,6,8,23.0,4.0,73.0,1013.0,NaN
2,Guntur,16.3067,80.4365,104,43,106,427,4,9,8,22.0,4.0,65.0,1013.0,NaN
3,Nellore,14.4426,79.9865,98,48,98,399,5,8,8,24.0,10.0,84.0,1012.0,NaN
4,Kurnool,15.8281,78.0369,94,34,94,443,4,9,9,22.0,8.0,80.0,1013.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,Reiek,23.6514,92.6243,46,27,31,250,2,4,5,25.0,4.0,20.0,1012.0,NaN
16,Bairabi,24.2221,92.6291,46,27,31,250,2,4,5,27.0,4.0,33.0,1013.0,NaN
17,Mamit,23.9316,92.4921,46,27,31,250,2,4,5,29.0,4.0,20.0,1012.0,NaN
18,Vairengte,24.0072,92.5616,46,27,31,250,2,4,5,29.0,4.0,20.0,1012.0,NaN
19,Darlawn,23.8200,92.8565,46,27,31,250,2,4,5,29.0,4.0,20.0,1012.0,NaN

# Meghalaya

In [2]:
meghalaya_cities = {
    "areas": [
        "Shillong", "Cherrapunjee", "Tura", "Jowai", "Nongstoin",
        "Baghmara", "Williamnagar", "Nongpoh", "Mairang", "Resubelpara",
        "Mawkyrwat", "Sohra", "Umiam", "Ranikor", "Tikrikilla",
        "Barengapara", "Songsak", "Rongjeng", "Phulbari", "Dainadubi"
    ],
    "lat": [
        25.5788, 25.2822, 25.5196, 25.5000, 25.5170,
        25.2026, 25.5121, 25.9000, 25.5701, 25.9474,
        25.3733, 25.3000, 25.6500, 25.2500, 25.9396,
        25.4500, 25.5167, 25.8000, 26.0333, 26.0833
    ],
    "long": [
        91.8933, 91.7202, 90.2244, 92.2000, 91.2652,
        90.6206, 90.4004, 91.8800, 91.2000, 90.6364,
        91.4513, 91.7000, 91.8833, 91.0833, 90.3256,
        90.3667, 90.4000, 90.7000, 90.1833, 90.9667
    ]
}

# Convert the dictionary to a DataFrame
meghalaya = pd.DataFrame(meghalaya_cities)
meghalaya

           areas      lat     long
0       Shillong  25.5788  91.8933
1   Cherrapunjee  25.2822  91.7202
2           Tura  25.5196  90.2244
3          Jowai  25.5000  92.2000
4      Nongstoin  25.5170  91.2652
5       Baghmara  25.2026  90.6206
6   Williamnagar  25.5121  90.4004
7        Nongpoh  25.9000  91.8800
8        Mairang  25.5701  91.2000
9    Resubelpara  25.9474  90.6364
10     Mawkyrwat  25.3733  91.4513
11         Sohra  25.3000  91.7000
12         Umiam  25.6500  91.8833
13       Ranikor  25.2500  91.0833
14    Tikrikilla  25.9396  90.3256
15   Barengapara  25.4500  90.3667
16       Songsak  25.5167  90.4000
17      Rongjeng  25.8000  90.7000
18      Phulbari  26.0333  90.1833
19     Dainadubi  26.0833  90.9667

In [3]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(meghalaya['lat'],meghalaya['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
meghalaya['AQI']=aqi
meghalaya['pm2.5']=pm2
meghalaya['pm10']=pm10
meghalaya['co']=co
meghalaya['so2']=so2
meghalaya['no2']=no2
meghalaya['o3']=o3

In [4]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(meghalaya['lat'],meghalaya['long']):
    url = "https://api.weatherstack.com/current?access_key=03ed09584f47512a0f52cd5955c00e32"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
meghalaya['temperature']=temperature
meghalaya['wind_speed']=wind_speed
meghalaya['humdity']=humdity
meghalaya['pressure']=pressure

In [5]:
meghalaya

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Shillong,25.5788,91.8933,56,33,37,468,3,8,14,19,4,25,1013
1,Cherrapunjee,25.2822,91.7202,56,33,37,468,3,8,14,19,4,25,1013
2,Tura,25.5196,90.2244,183,85,167,501,6,8,14,25,4,43,1015
3,Jowai,25.5000,92.2000,56,33,37,468,3,8,14,21,9,35,1014
4,Nongstoin,25.5170,91.2652,56,33,37,468,3,8,14,19,10,24,1013
5,Baghmara,25.2026,90.6206,183,85,167,501,6,8,14,25,4,39,1014
6,Williamnagar,25.5121,90.4004,183,85,167,501,6,8,14,25,4,42,1013
7,Nongpoh,25.9000,91.8800,158,78,135,746,7,4,14,23,11,65,1015
8,Mairang,25.5701,91.2000,56,33,37,468,3,8,14,19,10,24,1013
9,Resubelpara,25.9474,90.6364,183,85,167,501,6,8,14,24,13,45,1014
10,Mawkyrwat,25.3733,91.4513,56,33,37,468,3,8,14,24,8,30,1014
11,Sohra,25.3000,91.7000,56,33,37,468,3,8,14,19,4,25,1013
12,Umiam,25.6500,91.8833,56,33,37,468,3,8,14,19,4,26,1013
13,Ranikor,25.2500,91.0833,56,33,37,468,3,8,14,24,9,30,1013
14,Tikrikilla,25.9396,90.3256,183,85,167,501,6,8,14,23,14,46,1014
15,Barengapara,25.4500,90.3667,183,85,167,501,6,8,14,25,4,42,1013
16,Songsak,25.5167,90.4000,183,85,167,501,6,8,14,25,4,43,1015
17,Rongjeng,25.8000,90.7000,183,85,167,501,6,8,14,24,8,47,1013
18,Phulbari,26.0333,90.1833,183,85,167,501,6,8,14,23,14,46,1014
19,Dainadubi,26.0833,90.9667,158,78,135,746,7,4,14,24,8,47,1013

In [6]:
#meghalaya.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\meghalaya.csv',index=False)

# Uttarakhand

In [7]:
uttarakhand_cities = {
    "areas": [
        "Dehradun", "Haridwar", "Rishikesh", "Nainital", "Mussoorie",
        "Almora", "Haldwani", "Rudrapur", "Pithoragarh", "Chamoli",
        "Uttarkashi", "Tehri", "Ranikhet", "Kashipur", "Roorkee",
        "Kotdwar", "Bageshwar", "Joshimath", "Chakrata", "Pauri"
    ],
    "lat": [
        30.3165, 29.9457, 30.1038, 29.3803, 30.4599,
        29.5970, 29.2220, 28.9772, 29.5833, 30.4105,
        30.7280, 30.3807, 29.6422, 29.2125, 29.8543,
        29.7460, 29.8379, 30.5636, 30.7079, 30.1529
    ],
    "long": [
        78.0322, 78.1642, 78.2948, 79.4636, 78.0642,
        79.6500, 79.5120, 79.3995, 80.2099, 79.3319,
        78.4467, 78.4773, 79.4322, 78.9569, 77.8880,
        78.5164, 79.7676, 79.5588, 77.8573, 78.7742
    ]
}

# Convert the dictionary to a DataFrame
uttarakhand = pd.DataFrame(uttarakhand_cities)
uttarakhand

          areas      lat     long
0      Dehradun  30.3165  78.0322
1      Haridwar  29.9457  78.1642
2     Rishikesh  30.1038  78.2948
3      Nainital  29.3803  79.4636
4     Mussoorie  30.4599  78.0642
5        Almora  29.5970  79.6500
6      Haldwani  29.2220  79.5120
7      Rudrapur  28.9772  79.3995
8   Pithoragarh  29.5833  80.2099
9       Chamoli  30.4105  79.3319
10   Uttarkashi  30.7280  78.4467
11        Tehri  30.3807  78.4773
12     Ranikhet  29.6422  79.4322
13     Kashipur  29.2125  78.9569
14      Roorkee  29.8543  77.8880
15      Kotdwar  29.7460  78.5164
16    Bageshwar  29.8379  79.7676
17    Joshimath  30.5636  79.5588
18     Chakrata  30.7079  77.8573
19        Pauri  30.1529  78.7742

In [8]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(uttarakhand['lat'],uttarakhand['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
uttarakhand['AQI']=aqi
uttarakhand['pm2.5']=pm2
uttarakhand['pm10']=pm10
uttarakhand['co']=co
uttarakhand['so2']=so2
uttarakhand['no2']=no2
uttarakhand['o3']=o3

In [9]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(uttarakhand['lat'],uttarakhand['long']):
    url = "https://api.weatherstack.com/current?access_key=03ed09584f47512a0f52cd5955c00e32"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
uttarakhand['temperature']=temperature
uttarakhand['wind_speed']=wind_speed
uttarakhand['humdity']=humdity
uttarakhand['pressure']=pressure

In [10]:
uttarakhand

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Dehradun,30.3165,78.0322,104,53,105,641,11,12,17,21,6,13,1017
1,Haridwar,29.9457,78.1642,104,53,105,641,11,12,17,21,8,18,1017
2,Rishikesh,30.1038,78.2948,104,53,105,641,11,12,17,17,9,16,1017
3,Nainital,29.3803,79.4636,92,50,89,472,13,8,20,19,8,18,1016
4,Mussoorie,30.4599,78.0642,104,53,105,641,11,12,17,17,9,12,1016
5,Almora,29.5970,79.6500,92,50,89,472,13,8,20,22,4,15,1015
6,Haldwani,29.2220,79.5120,92,50,89,472,13,8,20,21,8,22,1017
7,Rudrapur,28.9772,79.3995,92,50,89,472,13,8,20,21,4,23,1017
8,Pithoragarh,29.5833,80.2099,92,50,89,472,13,8,20,20,7,15,1015
9,Chamoli,30.4105,79.3319,105,58,108,399,4,7,15,7,9,11,1018
10,Uttarkashi,30.7280,78.4467,104,53,105,641,11,12,17,17,9,12,1016
11,Tehri,30.3807,78.4773,104,53,105,641,11,12,17,17,6,13,1016
12,Ranikhet,29.6422,79.4322,92,50,89,472,13,8,20,19,8,18,1016
13,Kashipur,29.2125,78.9569,93,40,93,620,5,9,15,21,4,24,1017
14,Roorkee,29.8543,77.8880,104,53,105,641,11,12,17,20,4,18,1017
15,Kotdwar,29.7460,78.5164,105,58,108,399,4,7,15,20,4,20,1017
16,Bageshwar,29.8379,79.7676,92,50,89,472,13,8,20,22,4,15,1015
17,Joshimath,30.5636,79.5588,105,58,108,399,4,7,15,7,9,11,1018
18,Chakrata,30.7079,77.8573,104,53,105,641,11,12,17,17,9,12,1016
19,Pauri,30.1529,78.7742,105,58,108,399,4,7,15,17,6,13,1016

In [11]:
#uttarakhand.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\uttarakhand.csv',index=False)

# Mizoram

In [18]:
mizoram_cities = {
    "areas": [
        "Aizawl", "Lunglei", "Champhai", "Serchhip", "Kolasib",
        "Lawngtlai", "Saiha", "Biate", "Khawzawl", "Saitual",
        "Tlabung", "Hnahthial", "Zawlnuam", "North Vanlaiphai", "Thenzawl",
        "Reiek", "Bairabi", "Mamit", "Vairengte", "Darlawn"
    ],
    "lat": [
        23.7271, 22.8813, 23.4551, 23.2980, 24.2248,
        22.5126, 22.4967, 23.2289, 23.3121, 23.4165,
        22.5173, 23.0176, 23.6375, 23.0886, 23.3170,
        23.6514, 24.2221, 23.9316, 24.0072, 23.8200
    ],
    "long": [
        92.7170, 92.7211, 93.3289, 92.8500, 92.6784,
        92.8916, 92.9837, 92.9884, 93.1716, 92.9024,
        92.7920, 92.7587, 92.7342, 92.9762, 92.7446,
        92.6243, 92.6291, 92.4921, 92.5616, 92.8565
    ]
}
mizoram = pd.DataFrame(mizoram_cities)
mizoram

               areas      lat     long
0             Aizawl  23.7271  92.7170
1            Lunglei  22.8813  92.7211
2           Champhai  23.4551  93.3289
3           Serchhip  23.2980  92.8500
4            Kolasib  24.2248  92.6784
5          Lawngtlai  22.5126  92.8916
6              Saiha  22.4967  92.9837
7              Biate  23.2289  92.9884
8           Khawzawl  23.3121  93.1716
9            Saitual  23.4165  92.9024
10           Tlabung  22.5173  92.7920
11         Hnahthial  23.0176  92.7587
12          Zawlnuam  23.6375  92.7342
13  North Vanlaiphai  23.0886  92.9762
14          Thenzawl  23.3170  92.7446
15             Reiek  23.6514  92.6243
16           Bairabi  24.2221  92.6291
17             Mamit  23.9316  92.4921
18         Vairengte  24.0072  92.5616
19           Darlawn  23.8200  92.8565

In [19]:
pm2=[]
pm10=[]
co=[]
so2=[]
no2=[]
o3=[]
aqi=[]


for x, y in zip(mizoram['lat'],mizoram['long']):
    # Make the request
    response = requests.get(
        f'https://www.aqi.in/air-quality-map?type=aqi&lat={x}&lon={y}',
        verify=False
    )
    response.text

    l1=re.findall(r'(\d+)\sµg/m³',response.text)
    pm2.append(l1[0])
    pm10.append(l1[1])

    l2=re.findall(r'(\d+)\sppb',response.text)
    co.append(l2[0])
    so2.append(l2[1])
    no2.append(l2[2])
    o3.append(l2[3])
    
    l3=re.findall('\B>(\d+)<\B',response.text)
    aqi.append(l3[0])
mizoram['AQI']=aqi
mizoram['pm2.5']=pm2
mizoram['pm10']=pm10
mizoram['co']=co
mizoram['so2']=so2
mizoram['no2']=no2
mizoram['o3']=o3

In [20]:
wind_speed=[]
humdity=[]
pressure=[]
temperature=[]



for x,y in zip(mizoram['lat'],mizoram['long']):
    url = "https://api.weatherstack.com/current?access_key=03ed09584f47512a0f52cd5955c00e32"

    querystring = {"query":f"{x},{y}"}

    response = requests.get(url, params=querystring)
    if len(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))) > 0:
        wind_speed.append(re.findall(r'wind_speed\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        wind_speed.append(np.nan)

    # Extract humidity
    if len(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        humdity.append(re.findall(r'humidity\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        humdity.append(np.nan)

    # Extract pressure
    if len(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        pressure.append(re.findall(r'pressure\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        pressure.append(np.nan)

    # Extract temperature
    if len(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))) > 0:  # Fixed parentheses
        temperature.append(re.findall(r'temperature\':\s(\d+\.?\d*)', str(response.json()))[0])
    else:
        temperature.append(np.nan)
mizoram['temperature']=temperature
mizoram['wind_speed']=wind_speed
mizoram['humdity']=humdity
mizoram['pressure']=pressure

In [21]:
mizoram

,areas,lat,long,AQI,pm2.5,pm10,co,so2,no2,o3,temperature,wind_speed,humdity,pressure
0,Aizawl,23.7271,92.7170,46,27,31,250,2,4,5,25,4,20,1012
1,Lunglei,22.8813,92.7211,46,27,31,250,2,4,5,30,5,18,1012
2,Champhai,23.4551,93.3289,46,27,31,250,2,4,5,24,5,14,1012
3,Serchhip,23.2980,92.8500,46,27,31,250,2,4,5,24,5,14,1012
4,Kolasib,24.2248,92.6784,46,27,31,250,2,4,5,27,4,33,1013
5,Lawngtlai,22.5126,92.8916,46,27,31,250,2,4,5,29,5,18,1012
6,Saiha,22.4967,92.9837,46,27,31,250,2,4,5,29,5,18,1012
7,Biate,23.2289,92.9884,46,27,31,250,2,4,5,24,5,14,1012
8,Khawzawl,23.3121,93.1716,46,27,31,250,2,4,5,24,5,14,1012
9,Saitual,23.4165,92.9024,46,27,31,250,2,4,5,24,5,14,1012
10,Tlabung,22.5173,92.7920,46,27,31,250,2,4,5,29,5,18,1012
11,Hnahthial,23.0176,92.7587,46,27,31,250,2,4,5,30,5,18,1012
12,Zawlnuam,23.6375,92.7342,46,27,31,250,2,4,5,25,4,20,1012
13,North Vanlaiphai,23.0886,92.9762,46,27,31,250,2,4,5,24,5,14,1012
14,Thenzawl,23.3170,92.7446,46,27,31,250,2,4,5,24,5,14,1012
15,Reiek,23.6514,92.6243,46,27,31,250,2,4,5,25,4,20,1012
16,Bairabi,24.2221,92.6291,46,27,31,250,2,4,5,27,4,33,1013
17,Mamit,23.9316,92.4921,46,27,31,250,2,4,5,29,4,20,1012
18,Vairengte,24.0072,92.5616,46,27,31,250,2,4,5,29,4,20,1012
19,Darlawn,23.8200,92.8565,46,27,31,250,2,4,5,29,4,20,1012

In [22]:
#mizoram.to_csv(r'E:\Innomatics\EDA PROJECT\dataset\mizoram.csv',index=False)